<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no, address=no, email=no">
		<meta name="author" content="그린훼스코 태양광 발전 통합 모니터링">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta property="og:type" content="website">
		<meta property="og:title" content="">
		<meta property="og:image" content="">
		<meta property="og:url" content="">
		<meta property="og:description" content="">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:description" content="">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="../../public/imgs/common/favicon.ico" type="image/x-icon" sizes="16x16"/>
		<link rel="icon" href="../../public/imgs/common/favicon.ico" type="image/x-icon" sizes="16x16"/>    
		
		<title>그린훼스코 AI(시제품)개별스트링 태양광 발전 통합 모니터링</title>
		<!-- 공통 CSS -->
		<link rel="stylesheet" href="../../public/css/web/common/stylesheets.css">
		<link rel="stylesheet" href="../../public/css/web/style.css">

		<!-- 공통 라이브러리 js -->
		<script src="../../../node_modules/chart.js/dist/chart.min.js"></script>
		<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../node_modules/moment/min/moment.min.js"></script>
		<!-- 공통 js -->
		<script src="../../public/js/common/datefrom.js"  ></script>
		<script src="../../public/js/common/common.js" defer></script>

		<!-- 페이지별 CSS -->
		<link rel="stylesheet" href="../../public/css/web/chart.css">
		<link rel="stylesheet" href="../../public/css/web/chartChart.css">
		<!-- 페이지별 JS -->
		<script src="../../public/js/web/chart.js"></script>
		<script src="../../public/js/web/chartChart.js"></script>
	</head>
	<body>
		<div id="wrap">
			<header id="header" class="container">
				<h1 class="logoBox"><a href="/"><span class="logo">그린훼스코</span></a>
					<div style="margin-left: 10px; margin-top: -20px;">
						<div style="font-size: 16px;">태양광 발전 통합모니터링 시스템</div>
						<div style="font-size: 10px;">GREENFESCO SolarPower Monitoring System </div>
					</div>
				</h1>
				<nav class="menuBox">
					<!-- 해당 페이지 노출시 해당 메뉴의 class="active" 활성화 -->
					<ul>
						<li ><a href="./home.html">홈</a></li>
						<li class="active"><a href="./chartStr.html">Chart</a></li>
					</ul>
					<!-- //  -->
				</nav>
				<div class="clockBox">
					<div id="currtDate"></div><!--날짜-->
					<strong><div id="currtTime"></div></strong><!--시각-->
				</div>
				<ul class="mypageBox">
					<!-- 로그인 전 -->
					<!-- <li class="login"><a href="#">로그인</a></li> -->
					<!-- // -->
			
					<!-- 로그인 후 -->
					<li class="welcome"><b>관리자</b>님 안녕하세요!</li>
					<li class="logout"><a href="/logout">로그아웃</a></li>
					<!-- // -->
				</ul>
			</header>

			<div id="mainContent" class="container">				
				<div class="section sec01">
					<div class="box box01">
						<div class="contentTit">
							<h2></h2>
						</div>
						<div class="contentBox">	
							<ul class="accordionWrap">
								<!-- 해당 페이지(스트링) 노출 시 해당 li.accordion에 class="active" 추가 -->
								<!-- 메뉴(스트링) 노출하지 않을 시 해당 li.accordion에 class="off" 추가 -->
								<li class="accordion active">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링1</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class="off"><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>
									</div>
								</li>
								<li class="accordion">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링2</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class=""><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>
									</div>
								</li>
								<li class="accordion">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링3</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class=""><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>
									</div>
								</li>
								<li class="accordion">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링4</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class=""><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>
									</div>
								</li>
								<li class="accordion">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링5</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class=""><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>
									</div>
								</li>
								<li class="accordion">
									<!-- .accoTit > a 클릭시 해당 스트링 페이지로 링크 연결 -->
									<h3 class="accoTit trigger"><a href="#"><strong>스트링6</strong></a></h3>
									<div class="accoCont" style="overflow:hidden; display:none;">
										<ul>
											<!-- 해당 페이지(모듈) 노출 시 해당 li에 class="active" 추가  -->
											<!-- 모듈 노출하지 않을 시 해당 li에 class="off" 추가  -->
											<!-- li a 클릭시 해당 모듈상세 페이지로 링크 연결 -->
											<li class=""><a href="#">모듈1</a></li>
											<li class=""><a href="#">모듈2</a></li>
											<li class=""><a href="#">모듈3</a></li>
											<li class=""><a href="#">모듈4</a></li>
											<li class=""><a href="#">모듈5</a></li>
											<li class=""><a href="#">모듈6</a></li>
											<li class=""><a href="#">모듈7</a></li>
											<li class=""><a href="#">모듈8</a></li>
											<li class=""><a href="#">모듈9</a></li>
											<li class=""><a href="#">모듈10</a></li>
											<li class=""><a href="#">모듈11</a></li>
											<li class=""><a href="#">모듈12</a></li>
											<li class=""><a href="#">모듈13</a></li>
											<li class=""><a href="#">모듈14</a></li>
											<li class=""><a href="#">모듈15</a></li>
											<li class=""><a href="#">모듈16</a></li>
										</ul>	
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				
				<div class="section sec02">
					<div class="box box02">
						<div class="contentTit">
							<h2>스트링1</h2>
						</div>
						<div class="contentBox">
							<canvas id="line_StringGraph" style="width: 97%; height: 90%;" ></canvas>
						</div>
					</div>
					
					<div class="box box03">
						<div class="contentTit">
							<h2>스트링1 모듈 상세</h2>
						</div>
						<div class="contentBox">
							<div class="modList">
								<!-- 모듈 노출하지 않을 시 해당 a에 class="off" 추가  -->
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="/monitoring/chartMod" class=""> 
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-1 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir03">경고 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-2 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-3 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-4 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-5 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-6 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="off">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-7 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								<!-- 해당 모듈상세 페이지로 링크 연결 -->
								<a href="#" class="">
									<ul>
										<li>
											<h3>모듈번호</h3>
											<p>1-8 <!-- 모듈 번호 표시 --></p>
										</li>
										<li>
											<h3>모듈상태</h3>
											<!-- 상태에 따라 class명 노출 변경 / 정상-cir01 / 주의-cir02 / 경고-cir03 -->
											<p class="cir01">정상 <!-- 상태 문구 표시 --></p>
										</li>
										<li>
											<h3>발전량</h3>
											<p>9.2W <!-- 발전량 표시 --></p>
										</li>
									</ul>
								</a>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<footer id="footer" class="container">
				COPYRIGHT ⓒ 그린훼스코(주). All Rights Reserved.
			</footer>
		</div>
	</body>
</html>