#wrap {
    background-position: 0 calc(100% - 200px);
}

/* 컨텐츠 내용들 */
.contents > .content {
    padding: 60px;
    width: calc(100% - 120px);
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 180px;
}
.contents > .content > div {
    border-radius: 5px;
    /* border: 1px solid black; */
    width: 100%;
}





/* 테이블 */
/* 스타일링 */
.tableBox > p.title {
    font-size: var(--fontSize-24);
    color: #111111;
    font-weight: 700;
    text-align: center;
    padding: 0 25px;
    border-radius: 5px;
    height: auto;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.tableBox > p.title span {
    display: block;
    width: 146px;
    height: 139px;
    background: url(../../imgs/estimateList/img.png) no-repeat center;
    background-size: contain;
    margin-bottom: 35px;
}
.inverterList table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 20px;
    border-spacing: 0 3px; /*각각 간격*/
}
.inverterList th, .inverterList td {
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    height: 50px;
    padding: 0;
    color: #333333;
    font-size: 18px;
}
.inverterList td {
    background-color: #f9f9f9;
}
.inverterList th {
    background-color: #e0f6ab;
    font-weight: 600;
}

.inverterList th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.inverterList th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.inverterList td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.inverterList td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.inverterList td {
    margin: 5px 0;
    font-weight: 400;
}

.inverterList .inverterRegister {
    text-align: right;
}
.inverterList .inverterRegister button {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(90deg ,#8EBC50, #2B9264); /* 원하는 색상 및 방향으로 설정 */
    border: none;
    color: #ffffff;
    font-size: var(--fontSize-16);
    border-radius: 5px;
    font-weight: 400;
}


.inverterList .pagination {
    text-align: center;
}
.inverterList span#pageNumbers {
    background-color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    height: 30px;
    padding: 5px;
}

.inverterList .pagination button {
    margin: 0 5px;
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.inverterList .pagination button:first-child {
    margin-left: 0;;
}

.inverterList .prevBtn , 
.inverterList .nextBtn {
    color: #c7c7c7;
    background-color: #f5f5f5;
}
.inverterList .prevBtn , 
.inverterList .nextBtn, 
.inverterList .pageBtn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
}
.inverterList .pageBtn {
    background-color: unset;
    color: #333333;
}
.inverterList .active {
    background-color: #198a69;
    color: #ffffff; /* 활성화된 페이지 번호의 색상을 빨간색으로 설정 */
}



.content .pdCom {
    /* height: 40px; */
    margin-bottom: 20px;
}
.content .pdCom ul {
    height: 40px;
    display: flex;
    color: #999999;
}
.content .pdCom ul li{
    font-size: var(--fontSize-16);
    border: 1px solid #dddddd;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    border-radius: 5px;
}
.content .pdCom ul li.on {
    color: #ffffff;
    background-color: var(--bg-green-color);
}
.content .pdCom ul li:hover {
    color: #ffffff;
    background-color: var(--bg-green-color);
}




