<html lang="ko">
	<head>

		<meta charset="utf-8">
		<!-- 모바일 화면 확대 축소 금지 -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">  -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ">
		<meta name="format-detection" content="telephone=no, address=no, email=no">
		<meta name="author" content="그린훼스코 태양광 발전 통합 모니터링">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta property="og:type" content="website">
		<meta property="og:title" content="">
		<meta property="og:image" content="">
		<meta property="og:url" content="">
		<meta property="og:description" content="">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:description" content="">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="../../public/imgs/common/favicon.ico" type="image/x-icon" sizes="16x16"/>
		<link rel="icon" href="../../public/imgs/common/favicon.ico" type="image/x-icon" sizes="16x16"/>    

		<title>(반응형)그린훼스코 개별스트링 태양광 발전 통합 모니터링</title>
		<!-- 공통 CSS -->
		<link rel="stylesheet" href="../../public/css/reset.css">
		<link rel="stylesheet" href="../../public/css/stylesheets.css">
		<link rel="stylesheet" href="../../public/css/weather-icons.min.css">
		<link rel="stylesheet" href="../../public/css/weather-icons-wind.css">
		<link rel="stylesheet" href="../../public/css/common.css">
		<link rel="stylesheet" href="../../public/css/mobile/test.css">

		<!-- 공통 js -->
		<!-- <script src="../../../node_modules/chart.js/dist/chart.min.js"></script> -->
		<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
		<!-- <script src="../../../node_modules/moment/min/moment.min.js"></script> -->
		<script src="../../public/js/script.js" defer></script>
		<script src="../../public/js/common/datefrom.js"  ></script>
		<script src="../../public/js/common/common.js" defer></script>



		<!-- 페이지 별 링크 -->
		<link rel="stylesheet" href="../../public/css/mobile/home01.css">
		<script src="../../public/js/mobile/home01.js" defer></script>
	</head>
	<body>
		<div id="wrap">
			<div id="mainContent" class="container">	
				<div class="section sec01">
					<div class="box box01">
						<div class="contentTit">
							<h2>개별 모듈 현황</h2>
							1 - 1
						</div>
						<div class="contentWeather">
							<h4>현재날씨</h4>
							<ul class="weather">
								<li>
									<span class="icon">
										<i class="wi wi-cloudy"></i>
										<!-- // -->
									</span>
									흐림 <!-- 현재 날씨 문구 표시 -->
								</li>
								<li>
									<h3>온도</h3>
									<p>126.6 ℃</p> <!-- 현재 온도 표시 -->
								</li>
								<li>
									<h3>습도</h3>
									<p>189 %</p> <!-- 현재 습도 표시 -->
								</li>
							</ul>
						</div>
						<div class="contentData">
							<div class="contentDataTitle">
								<h4>현재상태</h4>
								<span class="cir01">정상</span>
							</div>
							<ul class="contentDataBox">
								<li class="innerBox"> 
									<h5>발전량</h5>	
									<strong>11111.2</strong>
									kW
								</li>
								<li class="innerBox"> 
									<h5>전압</h5>	
									<strong>1242.2</strong>
									V
								</li>
								<li class="innerBox"> 
									<h5>전류</h5>	
									<strong>341.2</strong>
									A
								</li>
							</ul>
						
						</div>
						<div class="contentBox">	
							<div class="contentBoxTitle">
								<h4>모듈위치</h4>
							</div>
							
							<!-- 팝업 노출 시 div.contentBox에 class="popupView" 생성 -->
							<ul class="moduleStatus" style="background:url('../../public/imgs/main/bgSample.jpg') top left no-repeat; background-size:cover;">
							<!-- ul.moduleStatus에 모듈 배경 이미지 삽입 -->
								<li>
									<ul class="tr tr01">
										<!-- 
											* 모듈 노출하지 않을 시 해당 .td에 class="off" 추가  
											* 상태에 따라 class명 노출 변경(p에 class 적용) / 정상-cir01 / 주의-cir02 / 경고-cir03 
										-->
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02 tdtdtd">
											<p class="cir02"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir03"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 --> 
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr02">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr03">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr04">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr05">
										<li class="td td01 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr06">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15 off">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr07">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr08">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr09">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr10">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr11">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr12">
										<li class="td td01">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
								<li>
									<ul class="tr tr13">
										<li class="td td01">
											<p class="cir03"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td02">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td03">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td04">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td05">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td06">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td07">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td08">
											<p class="cir03"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td09">
											<p class="cir03"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td10">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td11">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td12">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td13">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td14">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td15">
											<p class="cir01"></p> <!-- 상태 문구 표시 -->
										</li>
										<li class="td td16">
											<p class="cir03"></p> <!-- 상태 문구 표시 -->
										</li>
									</ul>
								</li>
							</ul>
							
						</div>
					</div>
				</div>
				<div class="pageMove">
					<button><a href="./home01.html" style="color: #ffff;">개별 모듈별</a> </button>
					<button><a href="./home02.html" style="color: #ffff;">발전소 정보</a> </button>
					<button><a href="./chartStrMenuList.html" style="color: #ffff;">모듈별 그래프</a> </button>
				</div>
				
			</div>
			
			<footer id="footer" class="container">
				COPYRIGHT ⓒ 그린훼스코(주). All Rights Reserved.
			</footer>
		</div>
	</body>
</html>