:root {
    --bg-green-color : rgba(25, 138, 105, 1);
    --font-color-black : #111111;
    --fontSize-12 : 0.75rem;
    --fontSize-14 : 0.875rem;
    --fontSize-15 : 0.9375rem;
    --fontSize-16 : 1rem;
    --fontSize-18 : 1.125rem;
    --fontSize-20 : 1.25rem;
    --fontSize-22 : 1.375rem;
    --fontSize-24 : 1.5rem;
    --fontSize-26 : 1.625rem;
    --fontSize-28 : 1.75rem;
    --fontSize-30 : 1.875rem;
    --fontSize-32 : 2rem;
}
.center-r {
    position: absolute;
    top: 0;
    /* border: 0.5px solid #000; */
    rotate: 90deg;
    min-width: 100%;
    width: auto;
    height: 2px;
    background-color: #000;
}
html, body {
    color: #fff;
}
* {
    box-sizing: unset;
}
input {
    border: none;
    outline: none;
}
input :focus{
    border: none;
}
button {
    outline: none;
    border: none;
}
.relative {
    position: relative;
}
.hidden {
    display: none;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    text-indent: -9999px !important;
    overflow: hidden !important;
    position: absolute !important;
}
#wrap {
    width: 100%;
    /* height: auto; */
    min-height: 100%;
    /* margin: 0; */
    /* padding: 0 15%; */
    position: relative;
    /* font-size: 16px; */
    background: url('../../imgs/common/bg.png') no-repeat center;
    background-size: contain;
    background-position: 0 bottom;
    background-color: #fafcf6;
}
.container {
    width: 100%;
    max-width: 1024px;
    padding: unset;
}

/* 헤더 */
#header {
    padding: 25px 0;
}
#header .container{
    /* max-width: 900px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#header .logo a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 18px;
    color: #171746;
    transition: color .3s ease;
}
#header .logo a.logo1 {
    background: url(../../imgs/common/logoBlack.png) no-repeat center;
    background-size: contain;
    width: 224px;
    height: 41px;
}
#header .logo a.logo2 {
    background: url(../../imgs/common/logo2.png) no-repeat center;
    background-size: contain;
    width: 41px;
    height: 41px;
}

/* 로그인전 */
#header nav {
    text-align: center;
    font-size: 1.12rem;
    line-height: 40px;
    font-weight: bold;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all .7s ease;
    /* border: 1px solid #e3e5e7; */
    background-color: var(--bg-green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
}
#header nav.off { /* 실적용 X*/
    padding: 0 15px;
}
#header nav.on { /* 실적용 X*/
    padding-right: 0;
    justify-content: end;
}
#header nav a {
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 26px;
}
#header nav.off a::before {
    display: inline-block;
    position: absolute;
    content: "";
    background: url(../../imgs/common/icon_login.png) no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
}


/* 로그인후 / 유저 */
#header nav.on{
    border-radius: unset;
    transition: unset;
    border: unset;
    background-color: unset;
    min-width: 200px;
}
#header nav.on span {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
}
#header nav.on a {
    margin-left: 10px;
    color: var(--bg-green-color);
    font-weight: 700;
    font-size: 1.12rem;
    padding-left: 0;
    padding-right: 45px;
}
#header nav.on a::after {
    display: inline-block;
    position: absolute;
    content: "";
    background: url(../../imgs/common/user_icon.png) no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#header nav.on img {
    width: 35px;
    height: 35px;
}
/* 본문 */
main {
    width: 100%;
    height: auto;
    z-index: 999;
    margin-bottom: 50px;
    margin-top: 35px;
}
main section > .contents {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

div.gf-btn.last-btn {
    text-align: center;
    margin-top: 50px;
}
div.gf-btn.last-btn button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    /* font-size: 1.2rem; */
    font-size: var(--fontSize-20);
    color: #fff;
    font-weight: 600;
    padding: 0;
    border: 0;
}


/* 푸터 */
#footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 200px;
    background-color: #000;
    padding: 50px 0;
    box-sizing: unset;
}

#footer p {
    text-align: center;
    color: #A6A6A6;
    line-height: 22px;
    bottom: 0;
    /* margin-bottom: 10px; */
}
#footer p.title {
    margin-bottom: 20px;
}
#footer p.tel {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p span {
    padding-left: 15px;
    padding-right: 10px;
    position: relative;
}
#footer p span:first-child {
    padding-left: 0px;
}
#footer p span:not(#footer p span:first-child)::before {
    content: "|";
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#footer .foo-companyInfo p:first-child {
    color: #ffffff;
    font-size: 1.12rem;
}
#footer .foo-companyBottom {
    margin-top: 35px;
}



@media (min-width: 1200px){
    .h1, h1 {
        font-size: 2rem;
    }
}
