


/* 제안서내역/ 기자재 관리 */
.r-area {
    position: absolute;
    right: 0px;
    top: 0;
}
.r-area  > div {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.r-area  > div > div {
    text-align: center;
}
.r-area  > div > div  p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}
.r-area  > div > div a:hover {
    color: unset;
}
.r-area  > div.proposal {
    background-color: rgb(235, 188, 43);
}
.r-area  > div.equipment {
    margin-top: 10px;
    background-color: rgb(177,208,51);
    margin-bottom: 50px;
}

.r-area  > div.smp-rec {
    height: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: start;
    color: #000;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
}

.r-area  > div.smp-rec > span:nth-child(1){
    font-weight: 400;
}
.r-area  > div.smp-rec > span:nth-child(2){
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1rem;
}
.r-area  > div.smp-rec > span:nth-child(2) > b{
    font-size: 1.2rem;
}
.r-area  > div.smp-rec.rec span:nth-child(2) > b{
    margin-right: -1px;
}
.r-area  > div.smp-rec > span:nth-child(3){
    font-weight: 400;
}
.r-area  > div.smp-rec > span:nth-child(3).plus {
    color: rgb(226, 2, 2);
}
.r-area  > div.smp-rec > span:nth-child(3).mius {
    color:rgb(21, 106, 255);
}

/* 이미지 + 텍스트 */
.topBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 30%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    /* margin: 20px 0 50px; */
    padding: 50px 15% 50px;
}
.topBox  > div {
    width: 458px;
    height: 333px;
    position: relative;
    right: 8.8%;
}

.topBox  img {
    /* width: 100%;
    height: 100%; */
}
.topBox  img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 502;
}
.topBox  span {
    width: 100%;
    display: block;
    color: #000;
    font-size: 2rem;
}
.topBox  span p:first-child {
    margin: 20px 0 10px;
}
.topBox  span p:last-child {

}
/* 주소입력 박스 */
.bottomBox{
    /* width: ; */
    margin-bottom: 50px;
    padding: 0 15%;
    position: relative;
}
.bottomBox .bg-white {
    position: absolute;
    width: calc(100% - 30%);
    height: 100%;
    margin: 0 auto;
    top: 0;
    background-color: #000;
    z-index: 1;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
#formBg {
    /* position: absolute; */
    width: calc(100% -2px);
    height: calc(100% -2px);
    left: 0;
    top: 0;
    background-color: #fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px; 

    /* 주소 리스트 나오면 아래 볼더 지우기 */
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;  */
}
#formBg #fsearch{
    width:  calc(100% -2px);
    height: calc(60px - 2px);
    overflow: hidden;
    position: relative;
    border-radius: 50px; 
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px var(--bg-green-color);
}

#formBg #fsearch input {
    border: 0;
    width: calc(100% - 90px);
    height: 60px;
    max-height: 60px;
    background-color: #ffffff;
    padding: 0 60px 0 30px;
    font-size: 1rem;
    line-height: 60px;
    margin: 0;
    z-index: 10;
}

#formBg #fsearch .word-del{
    background: url(../../imgs/juso/icon_search.png)no-repeat center center;
    width: 60px;
    height: 58px;
    position: absolute;
    right: 0;
    border: 0;
    top: 0;
    background-color: rgba(255,255,255, 0);
}
#formBg #fsearch .word-del.on {
    background: url(../../imgs/juso/icon_search_close.png)no-repeat center center;
}

/* 검색 리스트 */
.addr_list_inbox {
    /* display: none; */
}
.addr_list_inbox {
    width: 100%;
    height: auto;
}
.addr_list_inbox .search_result_title {
    padding: 10px 30px;
}
.addr_list_inbox .addr_list {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0;
    /* box-shadow: 0px 5px 15px -10px #000000; */
}
.addr_list_inbox .result_li {
    font-size: 1rem;
    border-top: none;
    list-style: none;
    padding: 15px 30px 0 30px;
}
.addr_list_inbox .result_li:last-child{
    border: none;
}
.addr_list_inbox .result_li:hover {
    background-color: rgba(199, 211, 255, 0.3);
}   
.addr_list_inbox li.result_li a {
    display: block;
    color: #4b515b;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    font-weight: 400;
}
.addr_list_inbox .result_li p {
    display: flex;
    align-items: center;
}
.addr_list_inbox .result_li p.a1 {
    margin-bottom: 10px;
}
.addr_list_inbox .result_li p.a1 strong {
    background: #a0c34c;
}
.addr_list_inbox .result_li p.a2 strong {
    background: var(--bg-green-color);
}
.addr_list_inbox .result_li p strong {
    display: inline-block;
    min-width: 60px;
    height: 24px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 10px;
    line-height: 24px;
    margin-right: 10px;
    font-size: 0.95rem;
    color: #fff;
} 


















/* 모달창 */
.modal {
    /* display: block; */
}
.modal-w690 {
    max-width: 690px;
}
.modal-w800 {
    max-width: 800px;
    max-height: 500px;
    top: 47% !important;
    transform: translateY(-50%) !important; 
}
.modal-content {
    padding: 4% 7% 2% 7%;
    width: calc(100% - 14%);
    height: calc(100% - 6%);
}
.modal-header {
    border-bottom: none;
    padding: 0;
}
.modal-header .modal-title {
    font-weight: bold;
    color: #111111;
    font-weight: 1.5rem;
}
.modal-header .modal-sub-title {
    margin-left: 10px;
    position: relative;
    /* padding-left: 10px; */
    font-size: 1rem;
    line-height: 36px;
    color: var(--bg-green-color);
}
.modal-header .modal-sub-title::before{
    content: "*";
    /* position: absolute; */
    width: auto;
    height: 100%;
    /* left: 0;
    top: 50%;
    transform: translateY(-50%); */
    padding-right: 5px;
    vertical-align: middle;
}
.modal-content .modal-body {
    padding: 0;
}
.btn-close {
    opacity: 1;
}
.type-select1 {
    text-align: center;
    padding: 20px 0 25px;
    display: flex;
    justify-content: space-between;
}

.type-select1 a {
    width: 320px;
    height: 300px;
    background-color: #f2f6ff;
    border-radius: 10px;
    position: relative;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-select1 a:hover {background-color: #e0f6ab;}
.type-select1 a:hover strong {color: var(--bg-green-color);}
.type-select1 a strong {
    position: absolute;
    left: 50%;
    bottom: 22px;
    z-index: 2;
    transform: translateX(-50%);
    font-size: 1.12rem;
    line-height: 32px;
    min-width: 110px;
    color: #333333;
    border-radius: 16px;
}
.type-select1 a.type1 img:first-child {
    padding-bottom: 40px;
}
.modal-body .type-select-btn {
    text-align: center;
}
.modal-body .type-select-btn button {
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    background : linear-gradient(90deg ,#8fbc50, #2a9165);
}