.contents .content {
    background-color: #ffffff;
    min-height: calc(430px - 60px);
    height: auto;
    border-radius: 10px;
    padding: 30px 25px;
    width: calc(100% - 50px);
}
.contents .content .mapping {
    color: #333333;
    font-size: var(--fontSize-24);
    box-sizing: border-box;
    border: 1px solid var(--bg-green-color);
}
.contents .content .mapValTitle {
    font-size: var(--fontSize-18);
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;
}
.contents .content .mapValTitle  b {
    color: #e72b2b;
}
.contents .content .mapValTitle button {
    width: 120px;
    height: 36px;
    background-color: #fef3f3;
    border: 1px solid #e48d8d;
    border-radius: 5px;
    font-size: var(--fontSize-16);
    color: #e72b2b;
    margin-left: 20px;
}
/* 하단 인버터 정보 박스 */
.contents .content .mapValSet{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.contents .content .inverterBox {
    background-color: #f9f9f9;
    width: 49.5%;
    height:auto;
    min-height: 256px;
    max-height: 285px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* 하단 인버터 정보 박스 : 박스 들 */
.contents .content .inverterBox {
    display: flex;
    position: relative;
}
.contents .content .inverterBox div.inverterImg {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents .content .inverterBox div.inverterInfo {
    width: 65%;
    display: flex;
    align-items: center;
}
.contents .content .inverterBox div.inverterInfo ul {
    width: calc(100% - 10%);
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}
.contents .content .inverterBox div.inverterInfo ul li {
    height: 35px;
    display: flex;
    align-items: center;
}
.contents .content .inverterBox div.inverterInfo ul li:nth-child(odd){
    width: 25%;
    font-size: var(--fontSize-18);
    font-weight: 400;
    color: #767676;
}
.contents .content .inverterBox div.inverterInfo ul li:nth-child(even) {
    width: 65%;
    font-size: var(--fontSize-18);
    font-weight: 600;
    color: #333333;
    padding-left: 20px;
}
.contents .content .inverterBox div.inverterInfo ul li input {
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    max-width: 120px;
    margin-right: 10px;
}

.contents .content .inverterBox div.inverterInfo ul li:last-child  div {
    display: flex;
    width: 110px;
    height: 26px;
    background-color: #fff;
    border-radius: 60px;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.contents .content .inverterBox div.inverterInfo ul li:last-child > div > span {
    display: block;
}
.contents .content .inverterBox div.inverterInfo ul li:last-child > div > span:nth-child(2){
    font-size: var(--fontSize-18);
    color: #111111;
}
.contents .content .inverterBox div.inverterInfo ul li:last-child > div > span:not(.contents .content .inverterBox div.inverterInfo ul li:last-child > div > span:nth-child(2)){
    color: var(--bg-green-color);
    width: 30px;
    height: 30px;
    background-color: #eef5f3;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contents .content .mapValSetbox.r-box > p:not(.contents .content .mapValSetbox.r-box > p:first-child){
    font-size: var(--fontSize-16);
    font-weight: 400;
    color: #555555;
    line-height: 1.1;
}


.contents .content .inverterBox div.inverterInfo ul li button {
    height: 30px;
    max-width: 90px;
}
.contents .content .inverterBox div.inverterInfo ul li button img {
    width: 100%;
    height: 100%;
}

/* 하단 인버터 정보 박스 : 박스 클릭하면 나오는 수정박스*/
.contents .content .inverterBox .modifyBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51, 0.9);
    border-radius: 5px;
}
.contents .content .inverterBox .modifyBox ul {
    width: 100%;
    padding: 40px 0;
    height: calc(100% - 80px);
}
.contents .content .inverterBox .modifyBox ul li {
    width: 220px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-size: var(--fontSize-18);
    color: #ffffff;
    display: flex;
    align-items: center;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) > span {
    width: 60px;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div {
    width: 120px;
    height: 36px;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div input {
    width: calc(100% - 10px);
    height: 100%;
    padding: 0;
    border-radius: 5px;
    padding-left: 10px;
    color: #111111;
    font-weight: 600;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div input::placeholder {
    color: #111111;
    font-weight: 600;
}
.contents .content .inverterBox .modifyBox ul li.plus-minus div {
    display: flex;
    width: 110px;
    height: 26px;
    background-color: #fff;
    border-radius: 60px;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div > span {
    display: block;
    color: #111111;
    font-weight: 600;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div > span:nth-child(2){
    font-size: var(--fontSize-18);
    color: #111111;
}
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div > span.minus,
.contents .content .inverterBox .modifyBox ul li:not(.mod-btn) div > span.plus
{
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: var(--bg-green-color);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contents .content .inverterBox .modifyBox ul li.mod-btn {
    align-items: end;
}

.contents .content .inverterBox .modifyBox ul li.mod-btn div {
    width: 100%;
    height: 46px;
}
.contents .content .inverterBox .modifyBox ul li div button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #e72b2b;
    font-weight: 600;
    font-size: var(--fontSize-18);
    color: #ffffff;
}


/* 퍼블리싱 할때는 안보이게 */
/* .l-area {display: none;} */