
.tit span:last-child {
    font-size: var(--fontSize-16);
    color: #555555;
    font-weight: 400;
}
.contents .content {
    background-color: #ffffff;
    min-height: calc(430px - 60px);
    height: auto;
    border-radius: 10px;
    padding: 30px 25px;
    width: calc(100% - 50px);
}
.contents .content > div.arrange {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}
.contents .content > div.arrange > button {
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: var(--fontSize-16);
    font-weight: 400;
    color: #999999;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
}
.contents .content > div.arrange > button.on {
    background-color: var(--bg-green-color);
    color: #ffffff;
}
.contents .content > div.arrange > button:last-child {
    border: 1px solid var(--bg-green-color);
    font-size: var(--fontSize-24);
    color: var(--bg-green-color);
    background-color: #eef5f3;
}
.contents .content .mapping {
    color: #333333;
    font-size: var(--fontSize-24);
    box-sizing: border-box;
    border: 1px solid var(--bg-green-color);
}

/* 하단 인버터 정보 박스 */
.contents .content .mapValSet{
    width: 100%;
    height: 100%;
    position: relative;
}

.mapValSet > div {
    width: 100%;
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.mapValSet > div > div {
    width: 48%;
}

.mapValSet > div .left .juso {
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.mapValSet > div .left .juso::before {
    content: "";
    width: 16px;
    height: 21px;
    background: url(../../imgs/step6/map.png) no-repeat;
    background-size: cover;
}
.mapValSet > div .left .juso span {
    padding-left: 10px;
    font-size: var(--fontSize-20);
    font-weight: 600;
    color: #333333;
}

.mapValSet > div .left div:last-child {
    display: flex;
    justify-content: space-between;
}
.mapValSet > div .left div:last-child > div {
    width: 150px;
    height: 180px;
    max-width: 150px;
    max-height: 180px;
}

.mapValSet > div .left div:last-child ul {
    border-radius: 5px;
    text-align: center;
    height: calc(100% - 30px);
    width: 100%;
    padding-top: 30px;
}
.mapValSet > div .left ul li {
    margin: 0 auto;
}
.mapValSet > div .left div:last-child > div:nth-child(1) ul li:first-child {
    background: url(../../imgs/step6/icon1.png) no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
    padding-bottom: 25px;
}
.mapValSet > div .left div:last-child > div:nth-child(2) ul li:first-child {
    background: url(../../imgs/step6/icon2.png) no-repeat;
    background-size: contain;
    width: 46px;
    height: 33px;
    padding-bottom: 25px;
}
.mapValSet > div .left div:last-child > div:nth-child(3) ul li:first-child {
    background: url(../../imgs/step6/icon3.png) no-repeat;
    background-size: contain;
    width: 46px;
    height: 42px;
    padding-bottom: 25px;
}

.mapValSet > div .left ul li span {
    font-size: var(--fontSize-18);
    font-weight: 400;
}
.mapValSet > div .left ul li:last-child{
    justify-content: end;
    font-size: var(--fontSize-24);
    font-weight: 600;
    margin-top: 10px;
}

.mapValSet > div .left div:last-child button {
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-right: 5px;
    font-size: var(--fontSize-16);
    font-weight: 400;
    color: #999999;
}
.mapValSet > div .left div:last-child button.on {
    background-color: var(--bg-green-color);
    color: #fff;
}


.mapValSet > div .right{

}
.mapValSet > div .right > div {
    color: #333333;
    font-size: var(--fontSize-18);
}

.mapValSet > div .right > div:not(.mapValSet > div .right > div:last-child){
    margin-bottom: 20px;
}
.mapValSet > div .right div p{
    margin-bottom: 10px;
    font-weight: 600;
}
.mapValSet > div .right div.on p {
    color: var(--bg-green-color);
}

.mapValSet > div .right > div > div {
    max-height: 128px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.mapValSet > div .right > div.on > div {
    background-color: #eef5f3;
}
.mapValSet > div .right  ul {
    padding: 10px 25px;
    display: flex;
    flex-wrap: wrap;
}
.mapValSet > div .right  ul li {
    width: 50%;
    height: 36px;
    display: flex;
    align-items: center;
}
.mapValSet > div .right  ul li:nth-child(odd){
    font-weight: 400;
}
.mapValSet > div .right  ul li:nth-child(even){
    font-weight: 600;
    font-size: var(--fontSize-20);
    justify-content: end;
}
.mapValSet > div .right  ul li:nth-child(even) > span {
    font-weight: 400;
}
