#wrap {
    background-position: 0 calc(100% - 200px);
}
/* 컨텐츠 제목들 */
.contents p.tit {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 24px;
    color: #111111;
    margin: 35px 0 15px;
    /* padding-left: 15px; */
}
.contents .tit span.tit-span:first-child {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* .contents .tit span.tit-span img */
main img {
    width: 100%;
    height: 100%;
}
.contents .tit small {
    font-size: 1rem;
    padding-left: 10px;
    color: var(--bg-green-color);
    font-weight: 400;
}

/* 컨텐츠 내용들 */
.contents > .content > div {
    border-radius: 5px;
    /* border: 1px solid black; */
    padding: 2%;
    width: 96%;
    background-color: #fff;
}
/* .content > div:not(.content > div:first-child) {
    background-color: #fff;
} */
/* 카카오 맵은 패딩 없이 */
.contents > .content:nth-child(2) > div {
    padding: 0;
    width: 100%;
}

/* 토지유형 */
.landType-1 {
    display: flex;
    justify-content: space-between;
}
.landType-1 > div {
    /* display: inline-block; */
}
.landType-1 > div:not(.landType-1 > div:last-child) {
    width: 13%;
    max-width: 125px;
    height: 100%;
}
.landType-1 > div > div {
    text-align: center;
    /* border: 0.5px solid black; */
    border-radius: 5px;
}
.landType-1 > div > .title {
    height: 20px;
    margin-bottom: 2px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-18);
}

.landType-1 > div:nth-child(1) > .title  {
    background-color: #a0c34c;
}
.landType-1 > div:nth-child(2) > .title  {
    background-color: #8dbb50;
}
.landType-1 > div:nth-child(3) > .title  {
    background-color: #7cb559;
}
.landType-1 > div:nth-child(4) > .title  {
    background-color: #66A959;
}
.landType-1 > div:nth-child(5) > .title  {
    background-color: #4BA05F;
}
.landType-1 > div:nth-child(6) > .title  {
    background-color: #339563;
}
.landType-1 > div:nth-child(7) > .title  {
    background-color: var(--bg-green-color);
}


.landType-1 > div > .content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    color: #000;
    font-size: var(--fontSize-18);
    font-weight: 600;
}



/* 지역지구 분석 */
.landType-2 {
    display: flex;
    color: #000;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 소유 및 기타정보 , 건축물 정보*/ 
.landType-2 div.content {
    width:calc( 50% - 5px);
}

.landType-2 div.content .s-tit {
    background-color: var(--bg-green-color);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: var(--fontSize-20);
}
.landType-2 div.content .infoCommon {
    padding: 15px 0;
    height: auto;
    min-height: 225px;
    margin-top: 5px;
    background-color: #eef5f3;
    border-radius: 5px;
    position: relative;
}

.landType-2 div.content .infoCommon .bg-img {
    position: absolute;
    right: 0;
    bottom: 0;

}
.landType-2 div.content .info1.infoCommon .bg-img{
    width: 113px;
    height: 120px;
}
.landType-2 div.content .info2.infoCommon .bg-img{
    width: 120px;
    height: 119px;
}

.landType-2 div.content .infoCommon  > div{
    padding: 9.75px 20px;
}
.landType-2 div.content .infoCommon  > div dl {
    display: flex;
    font-size: var(--fontSize-18);
}
.landType-2 div.content .infoCommon  > div dl dt {
    width: 45%;
    min-width: 154px;
    color: var(--bg-green-color);
    font-weight: 400;

}
.landType-2 div.content .infoCommon  > div dl dd {
    font-weight: 600;
}



/* 지역·지구	가능여부	조건·제한·예외사항 */
.landType-2 .landType-2-table {
    width: 100%;
    margin-top: 20px;
}


/* 지역지구/가능여부/조건·제한·예외사항  */
.g-table2 table {
    width: 100%;
    height: auto;
    /* margin: 50px auto; */
    /* border: 1px solid black; */
}
.g-table2 table li {list-style: none;}
.g-table2 .hidden {display: none;}

.g-table2 thead tr th {
    padding: 10px 0;background-color: #F9F9F9;
    border-right: 0.5px rgba(238,238,238,1) solid;
    border-top: 0.5px rgba(238,238,238,1) solid;
    border-bottom: 0.5px rgba(238,238,238,1) solid;
}
.g-table2 thead tr th:last-child{
    border-right: none;
}
.g-table2 tbody {position: relative;}
.g-table2 tbody tr td {
    padding: 10px 5px; 
    border-right: 0.5px rgba(238,238,238,1) solid;
    border-bottom: 0.5px rgba(238,238,238,1) solid;
    text-align: center;
}
.g-table2 tbody tr td:last-child{
    border-right: none;
}
.g-table2 tbody tr td .tipText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    /* color: #171746; */
    color: #333333;

}
/* 마우스 오버시 팝업 */
.g-table2 .gf_poptip {
    position: absolute;
    z-index: 999;
    left: 0;
    width: auto;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    background: #E0F6AB;
    border: 1px solid #d2eb96;
    min-height: 30px;
    height: auto;
    border-radius: 50px;
    /* display: flex;
    align-items: center; */
    color: var(--bg-green-color);
}
.g-table2 .gf_poptip {
    display: none;
    top: -45px; /* 이 위치 변경?*/
    width: auto;
    left: 0px;
    line-height: 1;
    max-width: 600px;
}
.g-table2 .gf_poptip.bb {
    top: 0px;
}
.g-table2 .gf_poptip .gf_con {
    height: 100%;
    margin-top: 7.5px;
}
.g-table2 .gf_poptip:nth-child(even) {}
.g-table2 .gf_poptip:nth-child(odd) {}

.g-table2 .gf_poptip .gf_con_img img{
    width: 15px;
    height: 15px;
}

/* 삼각형? 화살표 */
.g-table2 .popper_arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 93px; /* 이 치수 변경하면 화살표 이동한다*/
    border-width: 6px;
    bottom: -7px;
    border-bottom-width: 0;
    border-top-color: #C4DE83;
}

.g-table2 .popper_arrow > div {
    position: absolute;
    /* z-index: 1; */
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: transparent;
    border-style: solid;
    bottom: 0;
    border-bottom-width: 0;
    border-top-color: #E0F6AB;
    bottom: 2px;
    left: -6px;
}

/* .g-table2 .popper_arrow:after {
    content: " ";
    border-width: 5px;
    top: 1px;
    margin-left: -5px;
    border-top-width: 0;
    border-bottom-color: #1f2d3d;
} */


/*  ******** 전력계통정보 */
.contents p.tit[data-tit-name="ElectronicInfo"] {
    justify-content: space-between;
}
.contents p.tit[data-tit-name="ElectronicInfo"] span.tit-span {
    display: flex;
    width: auto;
    height: 25px;
}
.contents p.tit[data-tit-name="ElectronicInfo"] span.tit-span img {
    width: 25px;
    height: 100%;
    margin-right: 10px;
    
}

.contents p.tit[data-tit-name="ElectronicInfo"] select{
    height: 40px;
    vertical-align: middle;
    width: 350px;
    min-width: 140px;
    max-width: 350px;
    font-size: 1rem;
    color: #171746;
    background-color: #fff;
    border: 1px solid var(--bg-green-color);
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    transition: border .5s ease-out;
    border-radius: 5px;
    padding-right: 30px !important;
}
/* 화살표 커스텀 */
.contents p.tit[data-tit-name="ElectronicInfo"] select {
    background: url(../../imgs/step0/arr_down.png) no-repeat 95% 50%; /* 화살표 위치 */
    background-size: 16px; /* 화살표 크기 */
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
}
.contents p.tit[data-tit-name="ElectronicInfo"] .tit {
    font-size: 1rem;
    margin-right: 8px;
}
.ElectronicInfo {
    color: #000;
}

/*  ** 전력계통정보 - 용량 */
.ElectronicInfo .location .items{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ElectronicInfo .location .items > div {
    min-width: 310px;
    width: 32.5%;
    height: auto;
    min-height: 150px;
    
}
.ElectronicInfo .location .items > div:nth-child(1){
}
.ElectronicInfo .location .items > div:nth-child(2) {
}
.ElectronicInfo .location .items > div:nth-child(3) {
}

.ElectronicInfo .location .items > div > .item-title {
    height: 20px;
    border-left: 4px solid var(--bg-green-color);
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: var(--fontSize-20);
    color: var( --font-color-black);
}
.ElectronicInfo .location .items > div > .item-content {
    border: 2px solid #EFEFEF;
    padding: 15px;
    height: 98px;
    border-radius: 10px;
    font-weight: 600;
}
.ElectronicInfo .location .items > div > .item-content  dl {
    display: flex;
}
.ElectronicInfo .location .items > div > .item-content  dl:nth-child(2) {
    margin: 4px 0;
}
.ElectronicInfo .location .items > div > .item-content  dt {
    padding: 5px 10px;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}
.ElectronicInfo .location .items > div > .item-content  dt,
.ElectronicInfo .location .items > div > .item-content  dd {
    display: flex;
    align-items: center;
    justify-content: center;
}


.ElectronicInfo .location .items > div > .item-content  dl:nth-child(1)  dt{
    background-color: #EBF8Cb;
    color: #8db727;
}
.ElectronicInfo .location .items > div > .item-content  dl:nth-child(2)  dt{
    background-color: #E3F8D7;
    color: #62a639;
}
.ElectronicInfo .location .items > div > .item-content  dl:nth-child(3)  dt{
    background-color: #D0F4D7;
    color: #3c984d;
}

.ElectronicInfo .location .items > div > .item-content  dd {
    padding: 5px 10px;
    /* justify-content: right; */
    color: #333333;
}

/*  ** 전력계통정보 - 용량확인하기 */
.tel-info {
    /* background-color: #EFF5F3; */
    width: 100%;
    height: auto;
}
.tel-info .content {
    width: calc(100% - 100px);
    max-width: 960px;
    height: auto;
    max-height: 160px;
    padding: 48px 50px;
    /* background: url(../../imgs/step0/tel-bg.png) no-repeat center;
    background-size: cover; */
    display: flex;
    margin-top: 20px;
    background-color: #eef5f3;
    position: relative;
}
.telInfo-bgImg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 153px;
    background: url(../../imgs/step0/tel-img.png) no-repeat center;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.tel-info .content > div {
    font-weight: bold;
    /* font-size: 1.1rem; */
}
.tel-info .content > div:nth-child(2){
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 0.5px solid rgba(25,138,105, 0.5);
}
.tel-info .content > div:nth-child(3){
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 0.5px solid rgba(25,138,105, 0.5);
}
.tel-info .content > div > p:first-child{
    color: #595B5A;
}
.tel-info .content > div > p:last-child{
    margin-top: 10px;
    font-size: var(--fontSize-28);
    color: var(--bg-green-color);
}

.kepco {
    margin-top: 20px;
    text-align: center;
    height: 36px;
}
.kepco a {
    display: inline-block;
    height: calc(100% - 17px);
    padding: 8.5px 26px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9375rem;
    background : linear-gradient(90deg ,#8EBC50, #2B9264);
}


/* 조례정보 */
.law {
    color: #333333;
    font-size: var(--fontSize-18);
}
.law table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px; /* tr 사이에 패딩넣기 옆 위아래*/
}
.law tr {
    height: 45px;
}
.law thead  {

}
.law thead tr {
    background-color: #E0F6AB;
    /* height: 40px; */
    font-weight: 600;

}
.law tr:not(thead tr) {
    background-color: #F9F9F9;
}
.law thead tr th{
    vertical-align: middle;
}
.law thead tr th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.law thead tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.law tbody tr {
    
}
.law tbody tr td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
}
.law tbody tr td:nth-child(1) {
    padding: 0;
}
.law tbody tr td:nth-child(2) {
    text-align: left;
}
.law tbody tr td:nth-child(3) {
    color: #767676;
}
.law tbody tr td .label {
    padding: 3px 13.5px;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}
.law tbody tr td .label.g-color1 { /* 규칙 */
    background-color: #A0C34c;
}
.law tbody tr td .label.g-color2 { /* 조례 */
    background-color: var(--bg-green-color);
}



/* 분석결과 */

.Availability {
    color: #000;
}

.Availability .top {
    display: flex;
    margin-bottom: 20px;
}
.Availability .top > div:first-child {
    width: 56px;
    height: 65px;
    margin-right: 20px;
}
.Availability .top > div img {

}
.Availability .top > div:last-child{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 75px);
}
.Availability .top > div:last-child > div:first-child > span {
    display: block;

    display: flex;
}
.Availability .top > div:last-child > div:first-child > span:first-child {
    align-items: baseline;
    color: #828282;
    height: 40%;
    font-size: 1rem;
}
.Availability .top > div:last-child > div:first-child > span:last-child {
    height: 60%;
    align-items: start;
    font-size: var(--fontSize-28);
    color: #ED882B;
    font-weight: bold;
}

.Availability .info {
    width: 100%;
}
.Availability .info .state-area {
    display: flex;
    justify-content: space-between;
}
.Availability .area  {
    width: 32%;
    height:160px ;
    max-width: 310px;
}
.Availability .area .title {
    background-color: #F5F5F5;
    height: 80px;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.Availability .area .title span {
    display: block;
}
.Availability .area .title span:first-child{
    margin-bottom: 15px;
    font-size: var(--fontSize-20);
    font-weight: 600;
    color: #333333;
}
.Availability .area .title span:nth-child(2){
    color: #767676;
    margin-bottom: 5px;
    font-size: var(--fontSize-18);
    font-weight: 400;
}

.Availability .area .title b {
    color: #e72b2b;
    font-weight: 600;
    font-size: var(--fontSize-18);
}
.Availability .area div.state {
    height: 40px;
    font-size: var(--fontSize-18);
    font-weight: 600;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 40px;
    color: #fff;
}
.Availability .info div.btn {
    text-align: center;
}
.Availability .info div.btn button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    /* font-size: 1.2rem; */
    font-size: var(--fontSize-20);
    color: #fff;
    font-weight: 600;
    
}