<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>좌표 검색</title>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e666aa1bad76a6de3709db97420bb662"></script> 
	<%- include('../partials/header.html') %>

	<link rel="stylesheet" href="/css/main/coordinate.css">
	<script src="/js/main/coordinate.js" defer></script>
	<script src="/js/main/kakao.js" defer></script>
</head>

<body>
	<%- include('../partials/menuBtn.html') %>
	<div class="wrap">

		<div class="">
			<button class="searchLand">토지특성WFS 조회</button>
		</div>
		<div id="map" style="width:100%;height:350px;"></div>
		<p id="result"></p>
	</div>




</body>

</html>