<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전력계통정보</title>
    <%- include('../partials/header.html') %>
    <link rel="stylesheet" href="/css/main/kecpoInformation.css">
    <script src="/js/main/kecpoInformation.js" defer></script>
</head>
<body>
    <%- include('../partials/menuBtn.html') %>

    <p class="tit" data-tit-name="ElectronicInfo">
        <span class="tit-span">
            <img src="../public/imgs/step0/map.png" alt="">
            <q>전력계통정보</q>
        </span>
        
        <span class="tit-area">
            <strong class="tit">전신주위치</strong>
            <select class="w250 round">
                <option>전신주정보가 존재하지 않습니다.</option>
                <option>변전소 정보</option>
            </select>
        </span>
        <!-- <div class="tit-area" style=" display: inline-block;">
            <strong class="tit">전신주위치</strong>
            <select class="w250 round">
                <option>전신주정보가 존재하지 않습니다.</option>
            </select>
        </div> -->

    </p>
    <div class="content">
        <div class="ElectronicInfo">
            <div class="content location">
                <div class="items">
                    <div>
                        <h4 class="item-title">이름</h4>
                        <div class="item-content">
                            <dl>
                                <dt>변전소</dt>
                                <dd>변전소</dd>
                            </dl>
                            <dl>
                                <dt>변압기</dt>
                                <dd>변압기</dd>
                            </dl>
                            <dl>
                                <dt>D/L</dt>
                                <dd>D/L</dd>
                            </dl>
                        </div>
                    </div>
                    <div>
                        <h4 class="item-title">누적연계용량</h4>
                        <div class="item-content">
                            <dl>
                                <dt>변전소</dt>
                                <dd>1234232</dd>
                            </dl>
                            <dl>
                                <dt>변압기</dt>
                                <dd>34232</dd>
                            </dl>
                            <dl>
                                <dt>D/L</dt>
                                <dd>12232</dd>
                            </dl>
                        </div>
                    </div>
                    <div>
                        <h4 class="item-title">여유용량</h4>
                        <div class="item-content">
                            <dl>
                                <dt>변전소</dt>
                                <dd>1234232</dd>
                            </dl>
                            <dl>
                                <dt>변압기</dt>
                                <dd>1234232</dd>
                            </dl>
                            <dl>
                                <dt>D/L</dt>
                                <dd>1234232</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mr-t-20 tel-info">
                <div class="content">
                    <div>
                        <p class="txt">광주전남본부 / 강진지사</p>
                        <p class="tel">061-430-2237</p>
                    </div>
                    <div>
                        <p class="txt">광주전남본부 / 계통운영(기술)부</p>
                        <p class="tel">062-260-5518</p>
                    </div>
                </div>
                <div class="kepco">
                    <a href="http://home.kepco.co.kr/kepco/CO/H/E/COHEPP001/COHEPP00106.do?menuCd=FN040615" target="_new"
                    class="btn blue2">선로용량 확인하기</a>
                </div>
            </div>
        </div>
    </div> <!-- 전력계통-->
    
</body>
</html>