body {
    background: #000;
    color: #fff;
}

#wrap {
    min-width: 761px;
    min-height: 341px;
    width: 761px;
    height: 341px;
    padding: 3.7% 2.5%;
}

#wrap #mainContent {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#wrap #mainContent .sec {
    /* display: flex;
    flex-wrap: wrap; */
    width: 49%;
    height: 100%;
}
#wrap #mainContent .sec .contentTit {
    height: 30px;
    padding: 0 10px 10px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    line-height: 30px;
}
#wrap #mainContent .sec .contentTit span {
    display: block;
    margin-right: 5px;
}

#wrap #mainContent .sec .contentBox { 
    display: flex;
    flex-wrap: wrap;
    height: 90%;
}
#wrap #mainContent .sec .contentBox > div {
    width: 177px;
    height: 20%;
}
.contentBox .box {
    border-radius: 10px;
    width: 184px;
    padding: 5% 1% 5% 1%;
}
.contentBox .box:nth-child(odd){
    margin-right: 2px;
    background: #171B1C;
}
.contentBox .box:nth-child(even){
    margin-left: 2px;
    background: #1D2733;
}
.contentBox .box:not(.box06) ul li:first-child{
    display: flex;
    margin: 0 auto;
    height: 25px;
    text-align: center;
}
.contentBox .box:not(.box06) ul li:last-child{
    text-align: center;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    
}
.contentBox .box ul li:first-child span{ 
    display: flex;
    margin: 0 auto;
    line-height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    text-align: center;
}
.section01 .contentBox .box ul li.boxContents {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
/* 상태 */
.section01 .contentBox .box:nth-child(1) ul li span img {
    margin-left: -2px;
}
.contentBox .box:nth-child(2) ul li span img {

}
.section01 .contentBox .box:nth-child(3) ul li span img {
    margin-left: 1px;
}
.contentBox .box:nth-child(4) ul li span img {}
.contentBox .box:nth-child(5) ul li span img {}
.contentBox .box:nth-child(6) ul li span img {}

.section01 .contentBox .box06 {
    padding: 2% 1% 8% 1%;
}
.section01 .contentBox .box06 ul{
    font-size: 12px;
    text-align: left;
}
.section01 .contentBox .box06 ul li:first-child{
    text-align: center;
    font-weight: 600;
    padding-left: -23px;
    padding-bottom: 2px;
}
.section01 .contentBox .box06 ul li:not(li:first-child) {
    padding: 2px 5px 2px 23px;
    
}




/* 제어 */
.contentBox .box ul li:first-child img{
    display: block;
    margin-left: 5px;
}
.section02 .contentBox .box:not(.box02) button {
    color: #fff;
}
.section02 .contentBox .box button{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;

}
.section02 .contentBox .box:not(.box02) button:first-child {
    width: 50px;
    height: 30px;
    background: rgba(14, 206, 10, 1);
    border-radius: 15px;
    /* border: 1px solid black; */
}
.section02 .contentBox .box:not(.box02) button:last-child {
    width: 50px;
    height: 30px;
    background: rgba(248, 4, 4, 0.2);
    border-radius: 15px;
}


/*  밝기조절 */
.section02 .contentBox .box.box02 button{
    color: #fff;
}
/* :nth-child(1) */
.section02 .contentBox .box02 button:nth-child(1) {
    width: 30px;
    height: 30px;
    background: rgba(248, 4, 4, 0.4);
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    line-height: 30px;
}
.section02 .contentBox .box02 button:nth-child(2){
    width: 30px;
    height: 30px;
    background: rgba(39, 192, 88, 0.4);
    /* border: 0.5px solid black; */
    border-radius: 10px;
}
.section02 .contentBox .box02 button:nth-child(3){
    width: 30px;
    height: 30px;
    background: rgba(39, 192, 88, 0.6);
    border-radius: 10px;
}
.section02 .contentBox .box02 button:nth-child(4){
    width: 30px;
    height: 30px;
    background: rgba(39, 192, 88, 0.8);
    border-radius: 10px;
}

.section02 .contentBox .box02 button:nth-child(5){
    width: 30px;
    height: 30px;
    background: rgba(39, 192, 88, 1);
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    letter-spacing: -0.3px
}

.section02 .contentBox .box02 button.fontColor:nth-child(1){
    box-shadow: 0px 0px 0px 2px rgba(248, 4, 4, 0.8);;
}
.section02 .contentBox .box02 button.fontColor:not(button:nth-child(1)){
    box-shadow: 0px 0px 0px 2px rgba(247, 253, 182, 1);
}
.fontColor {
    color: #000;
}

/* 온도조절 */
.box05 > .tempControlClass > .boxContents {
    display: flex;
    justify-content: space-between;
}
.box05 .tempBtn  {
    position: relative;
}
.box05 .tempBtn >  div {
    position: absolute;
    top: 0;
    left: 50%;
    
}
.box05 .tempBtn:first-child {
    margin-left: 10px;
}
.box05 .tempBtn:last-child{
    margin-right: 10px;
}
.box05 .tempBtn:first-child > div:first-child{
    width: 8.18px;
    height: 30px;
    background: #F5777E;
    transform: rotate(-90deg);
}
.box05 .tempBtn:first-child > div:last-child{
    width: 8.18px;
    height: 30px;
    background: #F5777E;
}

.box05 .tempBtn:last-child > div{
    width: 8.18px;
    height: 30px;
    background: #2F8CCA;
    transform: rotate(-90deg);
}

/* 
width: 30px;
height: 30px;
left: 603px;
top: 131px;

background: rgba(39, 192, 88, 0.2);
border-radius: 10px;
 */
