


.cerRegister {
    
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: green;
    margin: 10px;
}