#wrap {
    width: calc(100% - 10%);
    padding: 0 5%;
}
/* @media (max-height: 565px) {
    #footer {
        transform: none;
    }
} */

main {
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 0;
}

div.gf-btn.last-btn button {
    width: 30%;
}
/* 푸터 안보이게 하기 */
#footer {
    display: none;
}