<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <strong>COPYRIGHT ⓒ 뉴그린테크(주). All Rights Reserved.</strong>
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" style="color: #F1C12f;" href="/">태양광 발전 통합 모니터링 화면 이동</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>