<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item-currtDateTime">
                <div id="currtDate"></div>
                <strong><div id="currtTime"></div></strong>
            </li>
            <li class="nav-item-welcome">
                <b><%=userNm%></b>님 안녕하세요!
            </li>
            <li class="nav-item-logout">
                <a href="/logout">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>