<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>

    
    <link rel="stylesheet" href="../public/css/web/certification.css">
    <link rel="stylesheet" href="../public/css/web/cerRegister.css">
    <script src="../public/js/web/certification.js" defer></script>

    
</head>
<body>
    <!-- certification => cer -->
    <div class="cerMain">
        <div class="cerBox-line line1">
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
        </div>
        <div class="cerBox-line line2">
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <img src="../public/imgs/web/certification/기술나눔증서-한국전력공사.jpg" alt="">
                </p>
                <p class="cerName">기술나눔증서</p>
            </div>
            <div class="cerBox">
                <p class="cerImg">
                    <button class="cerBtn">
                        <img class="plus" src="../public/imgs/web/plus.png" alt="">
                    </button>
                    
                </p>
                <p class="cerName">인증 내역 추가</p>
            </div>
        </div>
    </div>

    <div class="cerRegister">

        <p>
            <span>등록할 인증서:</span> <input type="file" name="cerInputImg" id="cerInputImg">
        </p>
        <p>
            <span>등록할 인증서 이름:</span> <input type="text" name="cerInputName" id="cerInputName">
        </p>
        <div>
            <button onclick="uploadFile()">등록</button>
            <button onclick="uploadSaveFile()">저장</button>
        </div>
    </div>
</body>
</html>