<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no, address=no, email=no">
		<meta name="author" content="그린훼스코 태양광 발전 통합 모니터링">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta property="og:type" content="website">
		<meta property="og:title" content="">
		<meta property="og:image" content="">
		<meta property="og:url" content="">
		<meta property="og:description" content="">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:description" content="">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="../public/imgs/web/common/favicon.ico" type="image/x-icon" sizes="16x16"/>
		<link rel="icon" href="../public/imgs/web/common/favicon.ico" type="image/x-icon" sizes="16x16"/>    
		
		<title>그린훼스코 홈페이지 개발</title>

		<!-- 공통 라이브러리 CSS -->
		<link rel="stylesheet" href="../public/css/web/commonStyle.css">
		<!-- <link rel="stylesheet" href="../public/css/web/common/nav.css"> -->
		<link rel="stylesheet" href="../public/css/web/common/nav.css" >
		<link rel="stylesheet" href="../../node_modules/swiper/swiper-bundle.min.css">
		<link rel="stylesheet" href="../../node_modules/animate.css/animate.min.css">
		<!-- <link rel="stylesheet" href="../../node_modules/foundation-sites/dist/css/foundation-float.min.css"> -->


		<!-- 공통 라이브러리 js -->
		<!-- <script src="../../node_modules/chart.js/dist/chart.min.js"></script> -->
		<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../node_modules/moment/min/moment.min.js"></script>
		<script src="../../node_modules/swiper/swiper-bundle.min.js"></script>

		<!-- 페이지별 CSS -->
		<link rel="stylesheet" href="../public/css/web/main/body.css">
		<link rel="stylesheet" href="../public/css/web/main/side.css">
		<link rel="stylesheet" href="../public/css/web/main/wrap.css">
		<link rel="stylesheet" href="../public/css/web/main/swiper.css" >
		<link rel="stylesheet" href="../public/css/web/common/footer.css" >



		<!-- 페이지별 JS -->
		<script src="../public/js/web/home.js" defer></script>
		<script src="../public/js/web/swiper.js" defer></script>

	</head>
	<body>
		<div id="wrap">
			<header id="header">
				<div class="logoBox">
					<div class="logo"></div>
				</div>
				<nav class="menuBox">
					<ul class="mainManu menu">
						<li>
							<a>회사소개</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">인증현황</a></li>
								<li>연혁</li>
								<li>구성원</li>
								<li>오시는길</li>
							</ul>
						</li>
						<li>
							<a>제품소개</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">시공</a></li>
							</ul>
						</li>
						<li>
							<a>시공지원</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">인증현황</a></li>
								<li>연혁</li>
								<li>구성원</li>
								<li>오시는길</li>
							</ul>
						</li>
						<li>
							<a>발전소&nbsp;시공</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">시공</a></li>
							</ul>
						</li>
						<li>
							<a>발전소&nbsp;관리</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">인증현황</a></li>
								<li>연혁</li>
								<li>구성원</li>
								<li>오시는길</li>
							</ul>
						</li>
						<li>
							<a>가상발전소(VPP)</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">시공</a></li>
							</ul>
						</li>
						<li>
							<a>소식</a>
							<ul class="subMenu">
								<li><a href="./home.html">GREENFESCO</a></li>
								<li><a href="#">시공</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- <div class="space"></div> -->

				<div class="headerBtn">
					<div class="KrEn">
						<span class="select">KR</span>
						<span>EN</span>
					</div>
					<div class="listMenu">
						<div class="icon_menu">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</header>

			<!-- Slider main container -->
			<div class="swiper mySwiper">
				<div class="main-slide swiper-wrapper">
					<!-- Slides -->
					<section class="section1 swiper-slide img01">
						<div class="section-img section1-img">
							<img src="../public/imgs/web/main/main01.png" alt="">
						</div>
						<div class="section-title section1-title">
							<div class="logo">
								<img src="../public/imgs/web/common/svg/logo.svg" alt="" >
							</div>
							<h1></h1>
							<div class="subTextBox">
								<p class="subText"></p>
							</div>
						</div>
						<div class="bottom-icon"></div>
					</section>

					<section class="section2 swiper-slide img02">
						<div class="section-img section2-img">
							<img src="../public/imgs/web/main/main02.png" alt="">
						</div>
						<div class="section-title section2-title">
							<div class="logo">
								<img src="../public/imgs/web/common/svg/logo.svg" alt="" >
							</div>
							<h1></h1>
							<div class="subTextBox">
								<p class="subText"></p>
							</div>
						</div>
						<div class="bottom-icon"></div>
					</section>

					<section class="section3 swiper-slide img03">
						<div class="section-img section3-img">
							<img src="../public/imgs/web/main/main03.png" alt="">
						</div>
						<div class="section-title section3-title">
							<div class="logo">
								<img src="../public/imgs/web/common/svg/logo.svg" alt="" >
							</div>
							<h1></h1>
							<div class="subTextBox">
								<p class="subText"></p>
							</div>
						</div>
						<div class="bottom-icon"></div>
					</section>

					<section class="section4 swiper-slide img04">
						<div class="section-img section4-img">
							<img src="../public/imgs/web/main/main04.png" alt="">
						</div>
						<div class="section-title section4-title">
							<div class="logo" id="logo">
								<img src="../public/imgs/web/common/svg/logo.svg" alt="" >
							</div>
							<h1></h1>
							<div class="subTextBox">
								<p class="subText"></p>
							</div>
						</div>
						<div class="bottom-icon"></div>
					</section>

					<section class="section5 swiper-slide img05">
						<div class="section-img section5-img">
							<img src="../public/imgs/web/main/main05.png" alt="">
						</div>
						<div class="section-title section5-title">
							<div class="logo">
								<img src="../public/imgs/web/common/svg/logo.svg" alt="" >
							</div>
							<h1></h1>
							<div class="subTextBox">
								<p class="subText"></p>
							</div>
						</div>
						<div class="bottom-icon"></div>
					</section>
				</div>
				
				<!-- <div class="paginationLine"></div> -->
				<div class="swiper-pagination"></div>
				
			</div>
			
			<div class="footer" id="footer">123</div>
			<a href="#" class="scroll-down">           <!-- 마우스 휠 효과를 줄 태그 -->
				<div class="scroll">                   <!-- 마우스 모양 도형 -->
					<span class="scroll-dot"></span>   <!-- 마우스 휠 움직임 효과를 줄 구체 -->
				</div>
				<!-- <div class="arrow-down"></div>         마우스 이미지 아래쪽의 화살표 -->
				<span class="span-text">SCROLL</span>
			</a>
			<div class="sideLine"></div>

		</div>

		<script>

		</script>
	</body>
</html>