<!DOCTYPE html>
<html lang="ko">

	<head>
		<%-include('partials/header.html') %>
	</head>
	
	<body>
		<div class="wrapper">
			<%-include('partials/sideBar.html') %>
			<div class="main">
				<%-include('partials/navigation.html') %>

			<main class="content">
				<div class="container-fluid p-0">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						  <li class="right-items"><h1 class="h3"><strong></strong>권한 등록</h1></li>
						  <li class="breadcrumb-item">시스템 관리</li>
						  <li class="breadcrumb-item">권한 관리</li>
						  <li class="breadcrumb-item" aria-current="page">권한 등록</li>
						</ol>
					</nav>

                    <div class="row">
                        <div class="card">
							<div class="card-header">
									<div class="row border-bottom-line">
										<div class="mb-3 col-2 col-xl-2">
											<select class="form-select" id="searchSelect">
												<option value="all" <%if(DTO.select === 'all') {%> selected <%}%>>검색조건</option>
												<option value="code" <%if(DTO.select === 'code') {%> selected <%}%>>권한코드</option>
												<option value="name" <%if(DTO.select === 'name') {%> selected <%}%>>권한명</option>
											</select>
										</div>
										<div class="mb-3 col-3 col-xl-3">
											<input type="text" onkeyup="enterkey();" class="form-control" id="searchContent" name="searchContent" placeholder="검색 내용을 입력주세요" value="<%=DTO.content%>">
										</div>
										<div class="mb-3 col-3 col-xl-3">
										</div>
										<div class="mb-3 col-4 col-xl-4 d-flex justify-content-end">
											<form name="searchform" method="get">
												<input type="hidden" id="currentPage" name ="currentPage">
												<input type="hidden" id="pageMove" name ="pageMove">
												<input type="hidden" id="select" name ="select">
												<input type="hidden" id="content" name ="content">
												<button type="button" class="ml-1 btn btn-primary btn-mg" onclick="javascript:movePage(''); return false;"><i class="align-middle" data-feather="search"></i> 조회</button>
												<button type="button" class="ml-1 btn btn-primary btn-mg" onclick="javascript:addAuth(); return false;"><i class="align-middle" data-feather="plus"></i> 등록</button>
												<button type="button" class="ml-1 btn btn-primary btn-mg" onclick="javascript:init(); return false;"><i class="align-middle" data-feather="rotate-ccw"></i> 초기화</button>
											</form>
										</div>
									</div>
							</div>
							<h6 class="card-subtitle text-muted">
								<p class="text-start"></p>
								<p class="text-end">검색결과: <Strong><%=pageVO.getTotal()%></Strong>건, &nbsp;<Strong><%=pageVO.getCurrentPage()%>/<%=pageVO.getTotalPages()%></Strong> 페이지</p>
							</h6>
							<table class="table table-striped table-bordered text-center">
								<colgroup>
									<col width="3%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="5%">
									<col width="5%">
								</colgroup>
								<thead>
									<tr>
										<th>번호</th>
										<th>권한코드</th>
										<th>권한명</th>
										<th>설명</th>
										<th>등록일</th>
										<th>관리</th>
										<th>롤정보</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < list.length; i++){ %>
										<tr>
											<td><%=(((pageVO.getCurrentPage() - 1) * pageVO.getSize()) + i + 1)%></td>
											<td><%=list[i].AUTHOR_CODE%></td>
											<td><%=list[i].AUTHOR_NM%></td>
											<td><%=list[i].AUTHOR_DC%></td>
											<td><%=list[i].AUTHOR_CREAT_DE%></td>
											<td>
												<button type="button" class="btn btn-primary btn-sm" style="font-size: .4rem;"
												onclick="modifyAuth(this); return false;"
												data-record='{"AUTHOR_CODE":"<%=list[i].AUTHOR_CODE%>", "AUTHOR_NM":"<%=list[i].AUTHOR_NM%>","AUTHOR_DC":"<%=list[i].AUTHOR_DC%>"}'>
												<i class="align-middle" data-feather="edit-2"></i>
													수정
												</button>
											</td>
											<td>
												<button class="btn btn-info btn-sm" style="font-size: .4rem;" onclick="viewRollInfo('<%=list[i].AUTHOR_CODE%>'); return false;">
													<i class="align-middle" data-feather="search"></i>
													롤 등록/수정
												</button>
											</td>
										</tr>
									<% } %>
									<% if (list.length == 0) { %>
										<tr>
											<td style="text-align: center;" colspan="5">
												데이터가 존재하지 않습니다.
											</td>
										</tr>
									<% } %>

								</tbody>
							</table>
							<%-include('partials/paging.html') %>
						</div>
                    </div>
				</div>


				<!-- 등록 모달 -->
				<div class="modal fade" id="defaultModalPrimary" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title ml-1">
									<h4>권한 등록</h4>
								</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">

								<div class="card">
									<div class="card-body">
										<form>
											<div class="form-group row">
											  <label for="code1" class="col-sm-3 col-form-label"><strong>권한코드 *</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control checkInputNull" id="code1" placeholder="권한코드">
											  </div>
											</div>
											
											<div class="form-group row">
											  <label for="codeNm" class="col-sm-3 col-form-label"><strong>권한명 *</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control checkInputNull" id="codeNm" placeholder="권한명">
											  </div>
											</div>

											<div class="form-group row">
											  <label for="codeDc" class="col-sm-3 col-form-label"><strong>설명</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control " id="codeDc" placeholder="설명">
											  </div>
											</div>

											<div class="form-group row"></div>
											<div class="row">
											  <div class="col-sm-12 text-center">
												<button type="button" class="btn btn-primary" onclick="insertAuth(); return false;"><i class="align-middle" data-feather="save"></i> 저장</button>
											  </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 롤정보 -->
				<div class="modal fade" id="defaultModalPrimary2" tabindex="-1" aria-hidden="true" >
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title ml-1">
									<h4>권한 수정</h4>
								</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<form>
											<div class="form-group row">
											  <label for="code2" class="col-sm-3 col-form-label"><strong>권한코드 *</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control" id="code2" placeholder="권한코드">
											  </div>
											</div>
											
											<div class="form-group row">
											  <label for="codeNm2" class="col-sm-3 col-form-label"><strong>권한명 *</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control" id="codeNm2" placeholder="권한명">
											  </div>
											</div>

											<div class="form-group row">
											  <label for="codeDc2" class="col-sm-3 col-form-label"><strong>설명</strong></label>
											  <div class="col-sm-9">
												<input type="text" class="form-control" id="codeDc2" placeholder="설명">
											  </div>
											</div>

											<div class="form-group row"></div>
											<div class="row">
											  <div class="col-sm-12 text-center">
												<button type="button" class="btn btn-primary" onclick="updateAuth(); return false;"><i class="align-middle" data-feather="save"></i> 수정</button>
												<button type="button" class="btn btn-secondary" onclick="deleteAuth(); return false;"><i class="align-middle" data-feather="delete"></i> 삭제</button>
											  </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="modal fade" id="defaultModalPrimary3" tabindex="-1" aria-hidden="true" >
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title ml-1">
									<h4>권한 수정</h4>
								</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<div class="mb-3 form-group row">
											<label for="authCode" class="col-sm-3 col-form-label"><strong>권한코드</strong></label>
											<div class="col-sm-9 text-center"><input id="code3" type="text" class="form-control disabled"></div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12 d-flex justify-content-end">
												<button type="button" class="btn btn-primary" onclick="updateRoll(); return false;"><i class="align-middle" data-feather="save"></i> 저장</button>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12">
												<div id="treeview-checkable" class="treeview">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			<footer class="footer">
				<%-include('partials/footer.html') %>
			</footer>
		</div>
	</div>

	<script>
		function addAuth() {
			$("#defaultModalPrimary").modal('toggle');
		}
		
		function init() {
			$("#searchSelect").val("all");
			$("#searchContent").val("");
			movePage('');
		}

		function insertAuth() {
			var nullcheck = checkInputNull();
			if(nullcheck != "") {
				alert(nullcheck);
				return;
			}

			$.ajax({
				type:"post",
				url:"/manage/authorityregistration/insertauth",
				dataType: 'json',
				data : {
				code : $("#code1").val(),
				codeNm : $("#codeNm").val(),
				codeDc : $("#codeDc").val()
				},
				success : function(data){
					if(data.status == "success") {
						$("#defaultModalPrimary").modal('toggle');
						document.location.reload();
						alert("저장되었습니다.");
					}
				}, error : function() {
				}
			});
		}

		function modifyAuth(obj) {
			$("#defaultModalPrimary2").modal('toggle');
			$("#code2").val($(obj).data("record")["AUTHOR_CODE"]);
			$("#codeNm2").val($(obj).data("record")["AUTHOR_NM"]);
			$("#codeDc2").val($(obj).data("record")["AUTHOR_DC"]);
		}

		function updateAuth() {
			$.ajax({
				type:"put",
				url:"/manage/authorityregistration/updateauth",
				dataType: 'json',
				data : {
						code : $("#code2").val(),
						codeNm : $("#codeNm2").val(),
						codeDc : $("#codeDc2").val(),
				},
				success : function(data){
					if(data.status == "success") {
						$("#defaultModalPrimary2").modal('toggle');
						document.location.reload();
						alert("저장되었습니다.");
					}
				}, error : function() {
				}
			});
		}

		function viewRollInfo(authCode) {
			$("#defaultModalPrimary3").modal('toggle');
			$("#code3").val(authCode);

			$.ajax({
				type:"get",
				url:"/manage/authorityregistration/rolllist",
				dataType: 'json',
				data : {
					authCode : $("#code3").val()
				},success : function(data) {
					var tree = [];
					for (let index = 0; index < data.list.length; index++) {
						tree.push({
								text: data.list[index].ROLE_NM +" ("+ data.list[index].ROLE_PTTRN +")",
								ROLE_CODE: data.list[index].ROLE_CODE,
						});
					}	

					$('#treeview-checkable').treeview({
							color: "#333333",
							expandIcon: "glyphicon glyphicon-menu-down",
							collapseIcon : "glyphicon glyphicon-menu-right",
							// selectedColor: "while",
							// selectedBackColor: "while",
							showCheckbox: true,
							highlightSelected:false,
							state: {
								expanded: true
							},
							data: tree
						});


					$('#treeview-checkable').treeview('expandAll');
					$('#treeview-checkable').css("height", "500px");
					$('#treeview-checkable').css("overflow", "auto");
					// $('#treeview-checkable').css("border", "1px solid lightblue");

					// 모듈 자체가.. 이상함.
					$("#treeview-checkable").on("nodeSelected", function(event, data) {
						$("#treeview-checkable").treeview("toggleNodeChecked",[data.nodeId, {silent: true}]);
					});

					// rollcode check
					for (let index = 0; index < data.mappingList.length; index++) {
						mappingListRoleCode = data.mappingList[index].ROLE_CODE;
						
						var length = $($("#treeview-checkable > ul li")).length;
						for (let index = 0; index < length; index++) {
							var nodeId = $($($("#treeview-checkable > ul li")).get(index)).data("nodeid");
							var nodeContent = $("#treeview-checkable").treeview("getNode", nodeId);

							if(nodeContent.ROLE_CODE == mappingListRoleCode) {
								$("#treeview-checkable").treeview("checkNode",[nodeId]);
							}
						}
					}

				}, error : function() {
				}
			});
		}


		function updateRoll() {
			var rollCode = [];
			var length = $($("#treeview-checkable > ul li")).length;

			for (let index = 0; index < length; index++) {
				var nodeId = $($($("#treeview-checkable > ul li")).get(index)).data("nodeid");
				var nodeContent = $("#treeview-checkable").treeview("getNode", nodeId);
				if(nodeContent.state.checked) {
					rollCode.push(nodeContent.ROLE_CODE);
				}
			}

			$.ajax({
				type:"put",
				url:"/manage/authorityregistration/updateroll",
				dataType: 'json',
				data : {
					authCode : $("#code3").val(),
					rollCode : JSON.stringify(rollCode)
				},success : function(data){
					alert("등록되었습니다.");
				}, error : function() {}
			});
		}

		function deleteAuth() {
			if(confirm($("#code2").val() +" 를 삭제 하시겠습니까?")) {
					$.ajax({
						type:"delete",
						url:"/manage/authorityregistration/deleteauth",
						dataType: 'json',
						data : {code : $("#code2").val()},
						success : function(data){
							if(data.status == "success") {
								$("#defaultModalPrimary2").modal('toggle');
								document.location.reload(true);
								alert("삭제되었습니다.");
							}
						}, error : function() {
							$(object).val(preUseYn);
						}
					});
			} else {
				$(object).val(preUseYn);
			}
		}

		function movePage(curPage) {
			document.searchform.currentPage.value = curPage;
			document.searchform.select.value = $("#searchSelect").val().trim();
			document.searchform.content.value = $("#searchContent").val().trim();
			document.searchform.submit();
		}

		function movePagePreNext(curPage, pageState) {
			document.searchform.pageMove.value = pageState;
			document.searchform.currentPage.value = curPage;
			document.searchform.select.value = $("#searchSelect").val().trim();
			document.searchform.conetnt.value = $("#searchContent").val().trim();
			document.searchform.submit();
		}

		function enterkey() {
			if (window.event.keyCode == 13) {
				movePage('');
    		}
		}
		// null check
		function checkInputNull(){
			var result = '';
			$('#defaultModalPrimary .checkInputNull').each(function(index, item) {
				if($(this).val().trim() == "") {
					result = $(this).data("alert");
					return false;
				}
			});
			return result;
		}
		// modal data 삭제
		$('#defaultModalPrimary').on('hidden.bs.modal', function () {
			$('.checkInputNull').each(function(index, item) {
				$(this).val("");
			});
		})


	</script>
</body>

</html>