<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <p style="font-size: 18px; font-weight: 500; padding: 10px;"> 
        전주의 전산화번호를 이용한 위치정보 활용 방법과 그 기능을 구현한 전주찾기 앱이 탑재된 스마트폰{omit}<br>
        본 발명은 전주의 전산화 번호 부여기준을 해석하여 한전의 개별 전주에 대한 별도의 위치정보가 필요없는 가상의 전주번호를 이용하여 지도상에 위치를 표시하는 알고리즘을 개발하여 스마트폰과 컴퓨터에서 구현할
        수 있도록 함으로써 전주 위치를 쉽게 찾고자 하는 사람들과 가상의 전주번호로 위치정보를 활용하고자 하는 사람들이 편익을 증대시킬 수 있는 방법, 그리고 그 기능을 구현한 프로그램에 관한 것이다.<br><br>
        전주는 배전 전력선로를 가공으로 연결하기 위해 지상에 건주되어 전기를 공급하는 중요 설비로서 국영기업인 한국전력공사에서 설치, 운영을 담당하고 있다.<br><br>
        근래에는 기간통신 사업자가 전주를 임차, 광케이블을 포설하여 네트워크를 구성하거나 방송통신사업자(SO)가 동축케이블을 포설하여 방송 서비스를 제공하는 등 방송통신 산업에 없어서는 안될 필수 설비로 그
        역할이 확대되었다.<br><br>
        개별 전주를 구분하기 위하여 한전에서는 표시찰을 전주에 부착하여 관리하고 있으며, 표시찰에는 전산화번호와 선로번호 두 종류의 식별번호가 기재되어 있다.<br><br>
        전산화번호는 해당 전주의 위도/경도 위치를 정해진 기준에 의해 부여한 것으로 주로 통신,방송사업자가 사용한다.<br><br> 선로번호는 변전소에서 인출된 선로가 연결된 계통을 순서대로 부여한 것으로 한전 또는 관련
        전기업체에서 주로 사용한다.<br><br>
        따라서 전주번호는 개별전주를 구분하는 역할뿐 아니라 여기에 설치된 전력설비(전기사업자)나 방송통신설비(방송통신사업자)를 관리하는 기본단위로 사용되어 소통의 중요 수단이 되고 있다.<br><br>
        한전에서는 전주의 효율적 관리를 위하여 개별 위치에 대한 위치 정보를 시스템에서 관리하고 있으며, 보안상 재난 구조를 위한 소방방재청(119) 등에 한해 제한적으로 그 정보를 제공하고 있다.<br><br>
        한전의 NDIS시스템에서 개별 전주의 위치는 TM 좌표로 입력되어 있는바, 이는 특정 원점을 기준으로 X축과 Y축의 거리를 나타낸 것이다.<br><br>
        소방방재청에서는 인명의 재난 구조를 위하여 한전으로부터 전주 위치를 제공받아 사용하고 있다.<br><br>
        긴급 상황에 처한 사람이 인근의 전주번호를 소방방재청에 알려주면 그 전주의 위치를 지도로 표기하여 출동하는 체계이며 이는 TM좌표 기반으로 하는 것이다.<br><br>
        그러나 이는 찾아가고자 하는 전주의 위치가 아닌 조난자의 현재 위치를 파악하기 위한 용도로 제한되며, 일반 시민이나 전주를 매개로 작업을 하는 근로자들이 활용할 수 없는 단점이 있다.<br><br>
        한전 전주를 임차하여 네트워크를 구성한 방송통신사업자는 설비의 유지관리를 위하여 한전으로부터 전주 위치를 제공받아 각기 GIS(지리정보시스템)시스템을 구축하여 사용하고 있다.<br><br>
        따라서 각 사업자별 네트워크 구축이나 유지보수에 종사하는 작업자들은 필요시 GIS 시스템 등에 접속하여 전주위치를 파악하고 있으나, 시스템 접속의 제한, 시스템 접속의 번거로움, 시간 소용 등을 이유로
        많은 불편함을 느끼고 있다.<br><br>
        이는 GIS시스템은 우리나라에 있는 모든 전주에 대한 TM좌표를 보유해야 하므로 방대한 용량의 서버가 필요하며 중요 정보에 대한 보안 및 통제 절차가 있기 때문이다.<br><br>
        또한 한전전주의 이동이나 변경시 즉시적으로 TM좌표가 시스템에 반영되어야 정확한 전주 위치 정보를 제공할 수 있다는 단점이 있다.<br><br>
        본 방식은 전주위치에 대한 데이터 베이스가 필요없는 가상의 전주번호를 이용한 위치정보 활용 프로그램으로 서버가 필요없어 프로그램 크기와 용량이 적어 스마트폰이나 컴퓨터에서 독자적으로 기동되어 사용자가
        쉽고 간단하게 활용할수 있다.<br><br>
        등록특허공보 제10-0325544호(공고일자: 2002년03월06일) 등록특허공보 제10-0415685호(공고일자: 2004년01월24일)
        본 발명은 방송통신 및 전기관련 산업 종사자가 한전의 전주번호별 좌표 정보 없이도 앱으로 해당 전주의 위치를 찾을 수 있도록 하여 편리하고 짧은 시간에 작업장소로의 이동을 가능하도록 하는 것을 제1
        목적으로 한다.<br><br>
        또한, 본 발명은 한전 전주가 없는 지중 구간이나 공장지대 등에서도 가상 전주 번호로 위치를 소통할 수 있도록 하고, 위급시에 인근 전주를 확인하지 않더라도 자신의 위치에 표기되는 가상 전주번호로
        구조요청할 수 있으며, 가상 전주번호를 위치정보로 활용하도록 하는 것을 제2 목적으로 한다.<br><br>
        또한, 본 발명은 찾아가려는 목적지에 대한 정보가 충분치 않은 경우에도 지도와 연계된 가상전주 번호와 주소를 매개로 하여 목적지를 쉽게 찾아갈 수 있도록 하는 것을 제3 목적으로 한다.<br><br>
        상기와 같은 본 발명의 목적들은 GPS 기능과 지도(MAP)을 갖는 스마트폰에서 전주의 전산화 번호를 해독하여 연관되는 위도와 경도를 계산하고, 이를 지도에 표기하는 어플리케이션의 구현에 의해
        달성되는데,
        이 같은 전주의 위치정보 제공 어플리케이션에 있어서,
        전주위치정보는 한국전력에서 정한 전주의 전산화번호의 부여 기준인 4개의 원점(1,2,3,4) 중 어느 하나의 원점, 또는 스마트폰과 가장 가까운 원점을 기준으로 한 것이고, 주소정보가 포함되는 것을
        특징으로 한다.<br><br> 그리고 스마트폰은 내비게이션 서버와 통신망으로 더 연결되며, 주소정보를 내비게이션 서버에 전송하여 네이게이션 서버로부터 스마트폰의 현 위치에서 상기 주소정보에 이르기까지의 경로 안내
        서비스를 제공받는 것을 특징으로 한다.<br><br>
        이는 지도에 표시된 전주는 지도 어플리케이션에서 제공하는 주소정보로 매핑할 수 있기 때문이다.<br><br>
        또한 이동 단말(11)에서 찾고자 하는 전주의 위치를 확인한 후 "내위치 확인" 기능을 이용하면 GPS에 의해 사용자의 현재 위치가 지도상에 표기되고 현재의 위치에서 목적지(전주위치)까지의 직선 거리가
        화면에 표시되어 경로 이동을 위한 일차적인 정보를 취득할수 있는 특징이 있다.<br><br>
        스마트폰의 GPS를 이용하여 사용자의 위치이동 경로(TRACE)를 추적할수 있도록 하였다.<br><br>
        현재의 위치에서 목적지(전주)가 멀지 않은 경우 TRACE 기능을 선택하면 사용자의 이동 경로가 5M 간격으로 점선으로 표시되어 내비게이션에 의존하지 않고도 자신의 이동 경로를 손쉽게 확인할 수 있다.<br><br>
        한편, 입력하여 위치정보가 제공된 전주번호는 전주번호순과 날짜순으로 정리하여 검색할수 있어 재입력하는 번거로움을 없앨수 있다.<br><br>
        자주 가는 전주번호는 즐겨찾기로 등록하여 고유한 이름을 붙여놓으면 유용하게 활용할수 있다.<br><br>
        예를 들어 자주가는 식당의 인근 전주번호를 인지하고 있다면 즐겨찾기로 등록후에 식당 이름으로 네이밍하는 것이다.<br><br> 만약 여러군데의 식당이 있다면 즐겨찾기 디렉토리를 맛집으로 이름짓고 여기에 여러군데의
        식당을 등록하면 하나의 파일내에서 검색할수 있다.<br><br>
        또한 이 디렉토리는 파일로 변환되어 타인에게 전송할수 있으며, 수신자는 이 파일을 받아서 즐겨찾기 기능을 이용하여 등록된 맛집을 이용하는 것이다.<br><br> 이를 작업 현장에서 응용하여 하나의 공구에서
        여러작업자가 동일한 전주를 탐색해야 한다면 한 작업원이 다수의 전주를 즐겨찾기로 등록하여 같은 그룹의 작업자와 공유할수 있게 되는 것이다.<br><br>
        이 파일은 어플리케이션에서도 생성할수 있지만 컴퓨터에서 엑셀파일로 작성하여 사용이 가능하므로 기존 데이터의 편집이 가능한 장점이 있다.<br><br>
        본 발명에 의하면, 방송통신 및 전기관련 산업 종사자는 다음과 같은 효과가 기대된다.<br><br> 한전의 전주번호별 좌표 정보 없이 앱으로 해당 전주위치를 찾을 수 있으므로 편리하고 짧은 시간에 작업장소로 이동이
        가능하다.<br><br> 한전 전주가 없는 지중 구간이나 공장지대 등에서도 가상 전주 번호로 위치를 소통할 수 있으므로 편리하다.<br><br>
        한편, 일반인은 다음과 같은 효과가 기대된다.<br><br> 찾아가려는 목적지가 막연한 경우 인근 전주번호만 알면 쉽게 위치를 알 수 있게 된다.<br><br> 또한 위급시에 인근 전주를 확인하지 않더라도 자신의 위치에 표기되는
        가상 전주번호로 구조 요청을 할 수 있다.<br><br> 또한 가상 전주번호를 위치정보로 활용 가능하다.<br><br>
        도 1은 본 발명에 따른 전주찾기 앱이 탑재된 스마트폰을 나타낸 개략도,
        도 2는 전주에 부착되며 전산화번호와 선로번호가 기재된 표시찰을 나타낸 도면,
        도 3은 본 발명의 전주의 전산화번호의 해석 알고리즘을 설명하기 위한 도면,
        도 4 내지 도 9는 본 발명에 따른 전주찾기 앱이 탑재된 스마트폰의 주요 기능들을 설명하기 위한 도면,
        도 10은 본 발명의 다른 실시예에 따른 전주찾기 앱이 탑재된 스마트폰을 나타낸 개략도.
        전주의 전산화번호 부여 기준인 원점이 전국에 4개 위치함으로 하나의 전주번호는 크게 4개 지역에서 존재할 수 있다.<br><br>
        또한 하나의 원점을 기준으로 해서도 동일한 전주가 복수로 존재할 수 있다.<br><br> 검색하는 전주는 대개 자신의 생활권에서 주로 찾고자 하는 경우가 일반적이나 경우에 따라서는 다른 지역의 전주 위치를 파악하여야
        할 상황도 발생할 수 있다.<br><br>
        이에 따라 사용자의 이용 행태와 예외적인 경우까지 상정하여 원하는 전주의 위치 정보를 제공해야 하므로 원점에 대한 자동 및 수동 선택기능을 부여할 수 있다.<br><br>
        즉, 기본설정(자동설정)은 자신의 현재 위치를 기준으로 가장 가까운 원점을 기준으로 원점에서 가장 가까운 전주 위치를 안내할 수 있다.<br><br> 또한 사용자의 행동 반경이 해당 지역을 크게 벗어나지 않는 경우
        자신의 거주지 주소를 해당 원점과 매핑할 수 있으며, 이 경우 선택된 원점에서 가장 가까운 전주가 검색되도록 할 수 있다.<br><br>
        타 권역으로 이동하여 그 지역의 전주 위치를 찾고자 할 경우에는 원점을 변경 선택함으로써 자신이 원하는 전주의 위치를 안내받을 수 있다.<br><br>
        전산화번호는 도 2에 도시한 바와 같이 전주에 부착된 표시찰(90)에 기재된 2개의 식별번호 중 하나로 표시찰(90)은 전산화번호(91)와 선로번호(92)가 기재되어 있다.<br><br>
        스마트폰(이동 단말1(11))이나 컴퓨터에서 사용자가 입력한 전주의 전산화번호가 예컨대 8889Q891이라 하면 어플리케이션은 다음과 같은 과정의 알고리즘으로 해석하여 전주위치정보를 지도상에 표시한다.<br><br>
        도 3을 참조하면 원점은 4개로서 북위 37 동경 127의 경기도 오산 지역이 제1 원점(1)이고, 북위 37 동경 129의 강원도 태백 지역이 제2 원점(2), 북위 35 동경 127의 전라남도 담양
        지역이 제3 원점(3), 북위 35 동경 129의 경남 양산을 제4 원점(4)으로 지정된다.<br><br>
        전산화번호 8889Q891의 앞번호 두자리 88은 원점을 기준으로 동서방향(00~99)으로 해석하고, 그 뒤의 89는 원점을 기준으로 남북방향(00~99)으로 해석하며, Q는 사방 2km의 면적을
        가로,세로 각각 4등분한 상태에서의 미리 정한 위치의 코드로 해석하고, 891은 사방 500m의 면적을 X축, Y축으로 각각 10등분 했을 때의 X축으로 8, Y축으로 9에 위치한 것을 의미하며 사방
        50m의 설비중 첫번째 전주를 의미하는 것으로 해석한다.<br><br>
        스마트폰 앱에서 지도상에 표시하는 전주위치정보는 한국전력에서 정한 전주의 전산화번호의 부여 기준인 4개의 원점(1,2,3,4) 중 어느 하나의 원점, 또는 상기 이동 단말(11)과 가장 가까운 원점을
        기준으로 한 것으로, 주소정보가 포함된다.<br><br>
        주소정보는 전주위치가 표시된 반경 25m내의 주소로서 스마트폰에서 구동하는 지도 어플리케이션(예컨대, 구글 앱)에서 제공하는 것이다.<br><br>
        또한 스마트폰(이동 단말1(11))은 도 10과 같이 내비게이션 서버(40)와 통신망(20)으로 더 연결될 수 있고, 이때에는 위치표시와 함께 제공된 주소정보를 상기 내비게이션 서버(40)에 전송하여
        네이게이션 서버(40)로부터 이동 단말(11)의 현 위치에서 상기 주소정보에 이르기까지의 경로 안내 서비스를 제공받을 수 있다.<br><br>
        상기 경로 안내 서비스는 스마트폰(이동 단말1(11))의 GPS 기능에 의한 스마트폰(이동 단말1(11))의 시간별 위치정보를 이용하여 스마트폰(이동 단말1(11))의 현 위치에서 주소정보에
        이르기까지의 동선정보를 제공한다.<br><br>
        이와 같이 구성된 스마트폰은 다음과 같은 기능들을 구현할 수 있다.<br><br>
        도 4의 전주번호로 위치찾는 기능.
        검색창에 전주번호를 입력하면 앞에서 열거한 원점선택과 원점을 기준으로한 전산화번호 해석 알고리즘에 의해서 지도에 해당위치와 주소를 표기한다.<br><br>
        이때 앱에서 사용하는 지도는 오픈 방식의 구글맵일 수 있고, 전주 위치는 반경 25m의 원으로 표시된다.<br><br> 또한 주소는 그 범위내의 구글맵에서 제공하는 주소를 표현한다.<br><br>
        도 5의 내비게이션과의 연계 기능.
        검색한 전주위치로 사용자를 안내하기 위해서 내비게이션과의 연계 기능을 구현할 수 있다.<br><br>
        내비게이션 어플이 스마트폰에 인스톨되어 있는 경우 API(application programming interface)를 연동하여 길안내 서비스를 받을 수 있다.<br><br>
        또한 API를 연동하지 않더라도 본 어플리케이션의 "주소복사" 기능을 이용하여 해당 내비게이션 구동후 붙여넣기로 주소를 복사하여 길안내를 받을 수 있다.<br><br>
        도 6의 기타 지역 보기(원점 변경) 기능.
        도 5의 기능으로 제공된 전주위치가 원하는 지역이 아니라면 원점을 변경하여 다른 지역의 동일 전주번호위치를 찾을 수 있다.<br><br>
        도 7의 검색기록으로 전주위치 찾기 기능.
        기존에 검색한 이력이 있는 전주에 대해서 간편한 선택 기능을 구현하여 전주번호순과 최근검색순으로 리스트화할 수 있으며 전주번호, 주소, 최근 검색일자(시간,분 포함)가 리스트 되므로 사용자는
        리스트내에서 검색하고자 하는 전주를 쉽게 선택할 수 있다.<br><br>
        도 8의 사용자 정보 설정 및 내위치 확인 기능.
        사용자가 위치한 현재의 위치를 알고 싶은 경우가 있는데, 이는 내위치 확인 기능을 활용하여 자신의 위치와 주소를 알 수 있으며, 한 화면에 검색한 전주가 함께 디스플레이됨은 물론 검색한 전주와의
        직선거리도 제공되므로 이동에 대한 사전 정보를 습득할 수 있다.<br><br> 내위치는 GPS로 탐색했는지, 기지국으로 탐색했는지를 구분하여 제공한다.<br><br> 내위치 표시란에 가상의 전주번호가 표기된다.<br><br> 이 가상 전주번호는
        내 위치를 원점에서 계산하여 전산화번호를 생성하는 것으로 현장에 해당 전주가 없을수도 있지만 자신의 위치를 위도와 경도로 설명하는 도구가 될 수 있다.<br><br>
        도 9의 트레이스(Trace) & 즐겨찾기 기능.
        <트레이스 기능>
            GPS가 가동하는 상황에서 사용자의 위치는 시차별로 취득할 수 있으며 이를 시간대별로 표시하면 진행 방향과 사용자의 동선을 알 수 있다.<br><br> 내위치와 찾아가고자 하는 전주가 한 화면에 디스플레이되는
            상황에서 트레이스 기능을 이용하면 진행경로를 알 수 있으므로 가까운 거리에서는 내비게이션 대신 이용할 수 있다.<br><br>
            <즐겨찾기 기능>
                내비게이션과 동일하게 중요한 지점이나 자주 가는 위치를 즐겨찾기로 등록할 수 있다.<br><br>
                또한 즐겨찾기로 등록된 지점은 즉시 검색이 가능하다.<br><br>
                즐겨찾기로 등록할 지점이 많은 경우 엑셀로 등록명과 전주위치를 기재하여 파일의 형태로 스마트폰에 저장하면 앱에서 파일을 불러온 후 해당위치를 선택하면 위치정보를 알 수가 있으므로
                관리하고자 하는 지점이 많은 방송통신 네트워크 작업자들이 이 기능을 이용하면 많은 편익을 느낄 수 있을 것이다.<br><br>
                한편, 본 발명의 다른 카테고리로서, 전주의 전산화번호를 이용한 위치정보 활용 방법은 스마트폰 및 가상의 전주번호를 이용한 위치정보를 활용하는 방법에 있어서, 전주의 전산화번호가 입력되면
                스마트폰의 정해진 알고리즘에 의해 위도, 경도 좌표로 산출하여 전주위치정보를 생성하는 단계(S10)와; 스마트폰의 지도 앱과 연계하여 상기 전주위치정보를 지도 앱에 표시하는
                단계(S20)를 포함하며, 상기 전주위치정보는 한국전력에서 정한 전주의 전산화번호의 부여 기준인 4개의 원점(1,2,3,4) 중 어느 하나의 원점, 또는 상기 스마트폰과 가장 가까운
                원점을 기준으로 한 것이고, 상기 전주위치정보에 해당하는 주소정보가 포함되는 것을 특징으로 한다.<br><br>
                여기서, 상기 스마트폰은 내비게이션 앱을 더 포함하고, 내비게이션 서버(40)로부터 스마트폰의 현 위치에서 상기 주소정보에 이르기까지의 경로 안내 서비스를 제공받는 단계(S30);를 더
                포함할 수 있다.<br><br>
                이상과 같은 전주의 전산화번호를 이용한 위치정보 활용 방법에 대한 상세 설명은 전술한 전주찾기 앱이 탑재된 스마트폰의 상세 설명을 참조하면 된다.<br><br>
                이상 본 발명이 양호한 실시예와 관련하여 설명되었으나, 본 발명의 기술 분야에 속하는 자들은 본 발명의 본질적인 특성에서 벗어나지 않는 범위 내에 다양한 변경 및 수정을 용이하게 실시할
                수 있을 것이다.<br><br> 그러므로 개시된 실시예는 한정적인 관점이 아니라 설명적인 관점에서 고려되어야 하고, 본 발명의 진정한 범위는 전술한 설명이 아니라 특허청구범위에 나타나 있으며, 그와
                동등한 범위 내에 있는 모든 차이점은 본 발명에 포함된 것으로 해석되어야 할 것이다.<br><br>.
    </p>
</body>

</html>