<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum=scale-1, minimum-scale=1">
    <title>step03</title>
    <!-- 공통 라이브러리 js -->
    <!-- <script src="../../../node_modules/chart.js/dist/chart.min.js"></script> -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/moment/min/moment.min.js"></script>

    <!-- 공통 CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/web/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/css/web/common.css">
    <link rel="stylesheet" type="text/css" href="../public/css/web/commonClass.css">
    <link rel="stylesheet" type="text/css" href="../public/css/common/base.css"> <!-- 폰트 -->
    <link rel="stylesheet" type="text/css" href="../public/css/common/body.css"> <!-- 공통 BODY-->
    <!-- 모바일/테블릿 -->
    <link rel="stylesheet" href="../public/css/tablet/tablet-common.css" media="screen and (max-width:1196px)" >  <!-- Tablet -->
    <link rel="stylesheet" href="../public/css/mobile/mobile-common.css" media="screen and (max-width:580px)" >  <!-- mobile -->
    
    <!-- step 공용 step0은 제외-->
    <link rel="stylesheet" type="text/css" href="../public/css/web/stepCommon.css"> <!-- step 공용-->
    <!-- 모바일/테블릿 -->
    <link rel="stylesheet" href="../public/css/tablet/tablet-stepCommon.css" media="screen and (max-width:1196px)" >  <!-- Tablet -->
    <link rel="stylesheet" href="../public/css/mobile/mobile-stepCommon.css" media="screen and (max-width:580px)" >  <!-- mobile -->
    <script src="../public/js/stepCommon.js" defer></script>
    
    <!-- 페이지별 CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/web/step3.css">
    <link rel="stylesheet" href="../public/css/tablet/tablet-step3.css" media="screen and (max-width:1196px)" >  <!-- Tablet -->
    <!-- <link rel="stylesheet" href="../public/css/mobile/mobile-step3.css" media="screen and (max-width:580px)" >  mobile -->
    <!-- 페이지별 JS -->
    <script src="../public/js/step3.js" defer></script>
</head>
<body>
    <div class="center-r"></div>
    <div class="wrap" id="wrap">
        <header class="header" id="header">
            <div class="container">
                <div class="logo">
                    <a href="/디자인 만들기용(서버X)/팜솔라견적페이지/views/juso.html">
                        <span class="hidden">홈</span>
                    </a>
                </div>
                <nav class="on">
                    <span>연구기획본부</span>
                    <a class href="/디자인 만들기용(서버X)/팜솔라견적페이지/views/juso.html">
                        홍길동
                    </a>
                </nav>
            </div>
        </header>
        <div class="l-area" id="l-area"> <!-- 정보 박스 (슬라이드)-->
            <div class="juso">
                <span>광주광역시 광산구 삼거동 930 </span>
            </div>
            <div class="content">
                <div class="top">
                    <div>
                        <ul style="background-color: #ebbc2b;">
                            <li><span>총 용량</span></li>
                            <li>217.20 kW</li>
                        </ul>
                    </div>
                    <div class="mr-t-10 mr-b-10">
                        <ul style="background-color: #4c68c3;">
                            <li><span>총 수량</span></li>
                            <li>362 장</li>
                        </ul>
                    </div>
                    <div>
                        <ul style="background-color: #935eb1;">
                            <li><span>총 설치면적</span></li>
                            <li>2,158.25 ㎡</li>
                        </ul>
                    </div>
                    <div class="mr-t-40 mr-b-20">
                        <button class="on">배치1</button>
                        <button>배치2</button>
                    </div>
                </div>
                <div class="bottom">
                    <div class="on">
                        <p>배치1</p>
                        <div>
                            <ul>
                                <li>용량</li>
                                <li>217.20 kW</li>
                                <li>수량</li>
                                <li>362 장</li>
                                <li>설치면적</li>
                                <li>2,158.25 ㎡</li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        <p>배치2</p>
                        <div>
                            <ul>
                                <li>용량</li>
                                <li>217.20 kW</li>
                                <li>수량</li>
                                <li>362 장</li>
                                <li>설치면적</li>
                                <li>2,158.25 ㎡</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideToggle">
                <button>
                    <img src="../public/imgs/step1/arr.png" alt="">    
                </button>
                
            </div>
        </div> <!-- 정보 박스 (슬라이드)-->

        <main>
            <section> 
                <div class="contents">

                    <div class="stepBox"> <!-- stepBox -->
                        <div class="step tr1 s1 pd-r-10 on">
                            <span>STEP 01</span>
                        </div>
                        <div class="step tr2 s2 on">
                            <span>STEP 02</span>
                        </div>
                        <div class="step tr2 s3 on">
                            <span>STEP 03</span>
                        </div>
                        <div class="step tr2 s4">
                            <span>STEP 04</span>
                        </div>
                        <div class="step tr2 s5">
                            <span>STEP 05</span>
                        </div>
                        <div class="step tr2 s6">
                            <span>STEP 06</span>
                        </div>
                        <div class="step tr3 s7">
                            <span>STEP 07</span>
                        </div>
                    </div>  <!-- stepBox -->
                    <div id="step3"> <!-- content -->
                        <p class="tit">
                            STEP 03. <span class="titFont">방위각과 경사각 설정 및 배치</span>
                        </p>
                        <div class="content">
                            
                            <div class="mapping kakaMap">
                                <div id="map" style="width:100%;height:555px;"></div>
                            </div>
                            
                            <div class="mapValSet3" id="step3_map_val_set">
                                <div class="mapValSetbox mapValSetbox3 l-box">
                                    <p>방위각과 경사각</p>
                                    <div class="mr-b-5 mr-t-20">
                                        <div>모듈 경사각(0˚)</div>
                                        <div>
                                            <span>-</span>
                                            <span><input type="text"  placeholder="0"></span>
                                            <span>+</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div>모듈 방위각(21˚)</div>
                                        <div>
                                            <span>-</span>
                                            <span><input type="text"  placeholder="21"></span>
                                            <span>+</span>
                                        </div>
                                    </div>
                                    <div id="sgstnAzimuth_div" class="moduleAzimuth reference">
                                        <div>추천 모듈 방위각(˚)</div>
                                        <div id="sgstnAzmth_btn_div">
                                            <button id="sgtnAzmth_btn_0" >40 ˚</button>
                                            <button id="sgtnAzmth_btn_1" >0 ˚</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mapValSetbox mapValSetbox3 r-box">
                                    <p>태양광 모듈 배치</p>
                                    <div class="arrange">
                                        <button class="on">가로 배치</button>
                                        <button>세로 배치</button>
                                    </div>
                                    <img src="../public/imgs/step3/bg_icon.png" alt="">
                                    <div class="mGroup">
                                        모듈군
                                        <div class="step-state step1">
                                            <ul>
                                                <li>
                                                    <p>0단</p>
                                                    <span   class="on" >
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>1단</p>
                                                    <span >
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>2단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>3단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>4단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>5단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>6단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>7단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <p>8단</p>
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="moduleType">
                                        <div class="type">
                                            <p>모듈 설치 타입</p>
                                            <div>
                                                <input type="radio" value="0">한판형
                                                <input type="radio" value="1">파도형
                                                <input type="radio" value="2">트러스트형
                                            </div>
                                        </div>
                                        <div class="kwPrice">
                                            <p>
                                                kW당 가격&nbsp;&nbsp;&nbsp;<input type="text" id="strt_ist_type_price" onkeyup="st3StrtIstTypePrice();">원
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="gf-btn last-btn">
                                <a href="../views/step2.html">
                                    <button type="button" class="btn prev" style="color: #767676; background-color: #DDDDDD;">이전</button>
                                </a>
                                <a href="../views/step4.html">
                                    <button type="button" class="btn next  mr-l-5" style="background-color: var(--bg-green-color);">다음</button>
                                </a>
                            </div>
                        </div>
                    </div>  <!-- content -->


                </div> <!-- container -->
            </section>
        </main>

        <div class="footer" id="footer">
            <div class="foo-companyInfo">
                <p class="title">그린훼스코 주식회사</p>
                <p class="tel">
                    <span>Tel. 062-973-0086</span>
                    <span>Fax. 062-443-2161</span>
                    <span>Email. greenfesco@greenfesco.com</span>
                </p>
                <p>Add. 광주광역시 북구 첨단과기로 208번길 50, 302호(연구소)</p>
                <p>Add. 광주광역시 광산구 빛그린18로 15(공장)</p>
                <p>Add. 전라남도 나주시 노안면 노안로 455-41(전남지사)</p>
            </div>
            <div class="foo-companyBottom">
                <p>Copyright © 2023 그린훼스코 주 All rights reserved</p>
            </div>
        </div>
        
    
    </div> <!-- wrap-->
   
</body>
</html>