<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum=scale-1, minimum-scale=1">
    <title>STEP 0</title>

    <!-- 공통 라이브러리 js -->
    <!-- <script src="../../../node_modules/chart.js/dist/chart.min.js"></script> -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/moment/min/moment.min.js"></script>
    <!-- 공통 CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/web/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/css/web/common.css">
    <link rel="stylesheet" type="text/css" href="../public/css/web/commonClass.css">
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/web/commonStyle.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/css/common/base.css"> <!-- 폰트 -->
    <link rel="stylesheet" type="text/css" href="../public/css/common/body.css"> <!-- 공통 BODY-->

    <!-- 페이지별 CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/web/step0.css">
    <!-- 페이지별 JS -->
    <script src="../public/js/step0.js" defer></script>
</head>
<body>
    <!-- <div class="center-r"></div> -->
    <div class="wrap" id="wrap">
        <header class="header" id="header">
            <div class="container">
                <div class="logo">
                    <a href="/디자인 만들기용(서버X)/팜솔라견적페이지/views/juso.html">
                        <span class="hidden">홈</span>
                    </a>
                </div>
                <nav class="on">
                    <span>연구기획본부</span>
                    <a class href="/디자인 만들기용(서버X)/팜솔라견적페이지/views/juso.html">
                        홍길동
                    </a>
                </nav>
            </div>
        </header>

        <main>
            <section>
                <div class="contents">
                    <p class="tit">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon01.png" alt="">
                        </span>
                        광주광역시 광산구 삼거동 930
                    </p>
                    <div class="content">
                        <div class="kakaMap">
                            <div id="map" style="width:100%;height:200px;"></div>
                            <p id="result"></p>
                        </div>
                    </div>

                    <p class="tit">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon02.png" alt="">
                        </span>
                        토지유형
                        <small>* 토지정보의 대지면적과 건축물대장의 대지면적은 다를 수 있습니다.</small>
                    </p>
                    <div class="content">
                        <div class="landType-1">
                            <div>
                                <div class="title">지목</div>
                                <div class="content">공장용지</div>
                            </div>
                            <div>
                                <div class="title">면적</div>
                                <div class="content">399991.6㎡</div>
                            </div>
                            <div>
                                <div class="title">고저</div>
                                <div class="content">평지</div>
                            </div>
                            <div>
                                <div class="title">형상</div>
                                <div class="content">세로장방</div>
                            </div>
                            <div>
                                <div class="title">방위</div>
                                <div class="content">-</div>
                            </div>
                            <div>
                                <div class="title">도로조건</div>
                                <div class="content">중로한면</div>
                            </div>
                            <div>
                                <div class="title">토지이용(변경)내역</div>
                                <div class="content">토지개발사업완료</div>
                            </div>
                        </div>
                    </div>

                    <p class="tit">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon03.png" alt="">
                        </span>
                        지역지구분석
                    </p>
                    <div class="content">
                        <div class="landType-2">
                            <!-- 소유 및 기타정보 -->
                            <div class="content">
                                <p class="s-tit">
                                    소유 및 기타정보
                                    <span></span>
                                </p>
                                <div class="info infoCommon">
                                    <div class="bg-img">
                                        <img src="../public/imgs/step0/img_소유.png" alt="">
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>소유구분</dt>
                                            <dd>법인</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>공유인수</dt>
                                            <dd>0</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>소유권 변동원인</dt>
                                            <dd>소유권이전</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>소유권 변동일자</dt>
                                            <dd>2021-10-14</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>공시지가(원)</dt>
                                            <dd>185,000</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>공시지가 기준일자</dt>
                                            <dd>2023-04-28</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!-- 건축물 정보 -->
                            <div class="content">
                                <p class="s-tit">
                                    건축물 정보
                                    <span></span>
                                </p>
                                <div class="info2 infoCommon">
                                    <div class="bg-img">
                                        <img src="../public/imgs/step0/img_건축물.png" alt="">
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name">건축물 개수</dt>
                                            <dd class="memo">-</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name">건축면적</dt>
                                            <dd class="memo">-<sup>m2</sup></dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name">주 용도</dt>
                                            <dd class="memo">공장</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name">기타 용도</dt>
                                            <dd class="memo">공장</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name">허가일자</dt>
                                            <dd class="memo">2022-04-14</dd>
                                        </dl>
                                    </div>

                                    <!-- 지상형 일경우 -->
                                    <!-- <div>
                                        <dl>
                                            <dt class="name">이름</dt>
                                            <dd class="memo">주요확인기능 항목</dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name a">산림청</dt>
                                            <dd class="memo a a1">경사도,나무나이,표고,방위 등
                                                <a href="">
                                                    <img src="../public/imgs/step0/arr-r.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name a">임상도</dt>
                                            <dd class="memo a a2">영급 등
                                                <a href="">
                                                    <img src="../public/imgs/step0/arr-r.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt class="name a">환경성평가</dt>
                                            <dd class="memo a a3">생태계자연도 등급 등
                                                <a href="">
                                                    <img src="../public/imgs/step0/arr-r.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div> -->
                                </div>
                            </div>
                            <div class="landType-2-table g-table2">
                                <table summary="검색 지번에서 행위제한내용 분석표">
                                    <caption class="hidden">검색 지번에서 행위제한내용 분석표</caption>
                                    <colgroup>
                                        <col width="20%">
                                        <col width="35%">
                                        <col width="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">지역/지구</th>
                                            <th scope="col">가능여부</th>
                                            <th scope="col">조건/제한/예외사항</th>
                                        </tr>
                                    </thead>
                                    <tbody class="htmlText">

                                        <tr style="">
                                            <td style="background-color: rgb(255, 255, 255);">
                                                <span class="gf_tip ico_i tipText">
                                                    가축사육제한구역
                                                </span>

                                                <div class="gf_poptip a cc">
                                                    <div class="gf_con">
                                                        <span class="gf_con_img">
                                                            <img src="../public/imgs/step0/icon_!.png" alt="">
                                                        </span>
                                                        가축분뇨의 관리 및 이용에 관한 법률 제8조 가축사육의 제한 등 // 국토의 계획 및 이용에 관한 법률 제36조 제1항 제1호 용도지역의 지정
                                                    </div>
                                                    <div class="popper_arrow" style="display:block;">
                                                        <div></div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td style="background-color:#FFFFFF;">
                                                <span class="gf_tip tipText">
                                                    검색결과 없음
                                                </span>
                                            </td>
                                            <td style="background-color:#ffffff;">
                                                <li class="tipText">
                                                    
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="background-color:#FFFFFF;">
                                                <span class="gf_tip ico_i tipText">
                                                    도시지역
                                                </span>
                                                <!--  style="display:none;" -->
                                                <div class="gf_poptip a bb" >
                                                    <div class="gf_con">
                                                        <span class="gf_con_img">
                                                            <img src="../public/imgs/step0/icon_!.png" alt="">
                                                        </span>
                                                        국토의 계획 및 이용에 관한 법률 제36조 제1항 제1호 용도지역의 지정
                                                    </div>
                                                    <div class="popper_arrow" style="display:block;">
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="background-color:#FFFFFF;">
                                                <span class="gf_tip tipText">
                                                    검색결과 없음
                                                </span>
                                            </td>
                                            <td style="background-color:#ffffff;">
                                                <li class="tipText"></li>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:#FFFFFF;">
                                                <span class="gf_tip ico_i tipText">
                                                    일반상업지역
                                                </span>
                                                <div class="gf_poptip a" >
                                                    <div class="gf_con">
                                                        <span class="gf_con_img">
                                                            <img src="../public/imgs/step0/icon_!.png" alt="">
                                                        </span>
                                                        국토의 계획 및 이용에 관한 법률 제36조 제1항 제1호 용도지역의 지정
                                                    </div>
                                                    <div class="popper_arrow" style="display:block;">
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="background-color:#FFFFFF;">
                                                <span class="gf_tip tipText">
                                                    검색결과 없음
                                                </span>
                                            </td>
                                            <td style="background-color:#ffffff;">
                                                <li class="tipText"></li>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <p class="tit">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon04.png" alt="">
                        </span>
                        이격거리확인
                        <small>* 이 지역의 이격거리 조례는 아래와 같습니다.</small>
                    </p>
                    <div class="content">
                        <div class="separationDistance">
                            <div class="mapBox">
                                kakao Map
                            </div>
                            <div class="ordBox">
                                <p>부지 경계로부터 각각 약 <font color="#FFBB00">100</font>m,<font color="#ABF200">200</font>m,<font color="#5F00FF">300</font>m를 나타내고 있으며 오차가 있을 수 있으니 참고 바랍니다.</p>
                                <div>
                                    <p class="title">조례명:제17조의2(발전시설 허가기준)</p>
                                    <p>
                                        해당 지역에는 태양광 발전소에 관련된 이격거리 조례가 확인되지 않습니다.<br>
                                        직접 해당 지역 관련 관공서에 문의하시기 바랍니다.
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="btn">
                                <button class="click">불가능</button>
                                <button>가능</button>
                            </div>
                        </div>
                    </div>
                    <p class="tit" data-tit-name="ElectronicInfo">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon04.png" alt="">
                            <q>전력계통정보</q>
                        </span>
                        <span class="tit-area">
                            <strong class="tit">전신주위치</strong>
                            <select class="w250 round">
                                <option>전신주정보가 존재하지 않습니다.</option>
                                <option>변전소 정보</option>
                            </select>
                        </span>
                    </p>
                    
                    <div class="content">
                        <div class="electronicInfo">
                            <div class="content location">
                                <div class="items">
                                    <div>
                                        <h4 class="item-title">이름</h4>
                                        <div class="item-content">
                                            <dl>
                                                <dt>변전소</dt>
                                                <dd>변전소</dd>
                                            </dl>
                                            <dl>
                                                <dt>변압기</dt>
                                                <dd>변압기</dd>
                                            </dl>
                                            <dl>
                                                <dt>D/L</dt>
                                                <dd>D/L</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="item-title">누적연계용량</h4>
                                        <div class="item-content">
                                            <dl>
                                                <dt>변전소</dt>
                                                <dd>1234232</dd>
                                            </dl>
                                            <dl>
                                                <dt>변압기</dt>
                                                <dd>34232</dd>
                                            </dl>
                                            <dl>
                                                <dt>D/L</dt>
                                                <dd>12232</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="item-title">여유용량</h4>
                                        <div class="item-content">
                                            <dl>
                                                <dt>변전소</dt>
                                                <dd>1234232</dd>
                                            </dl>
                                            <dl>
                                                <dt>변압기</dt>
                                                <dd>1234232</dd>
                                            </dl>
                                            <dl>
                                                <dt>D/L</dt>
                                                <dd>1234232</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tel-info">
                                <div class="content">
                                    <div class="telInfo-bgImg"></div>
                                    <div>
                                        <p class="txt">광주전남본부 / 강진지사</p>
                                        <p class="tel">061-430-2237</p>
                                    </div>
                                    <div>
                                        <p class="txt">광주전남본부 / 계통운영(기술)부</p>
                                        <p class="tel">062-260-5518</p>
                                    </div>
                                </div>
                                <div class="kepco">
                                    <a href="http://home.kepco.co.kr/kepco/CO/H/E/COHEPP001/COHEPP00106.do?menuCd=FN040615" target="_new"
                                    class="btn blue2">선로용량 확인하기</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- 전력계통-->

                    <!--  조례정보 -->
                    <p class="tit">
                        <span class="tit-span">
                            <img src="../public/imgs/step0/icon05.png" alt="">
                        </span>
                        조례정보
                    </p>
                    <div class="content">
                        <div class="law">
                            <table class="h-table2">
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col>
                                    <col style="width: 20%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>종류</th>
                                        <th>법규명</th>
                                        <th>재/개정일</th>
                                    </tr>
                                </thead>
                                <tbody class="ordinanceData">
                                    <tr>
                                        <td><label class="label g-color2">조례</label></td>
                                        <td><a href="https://www.law.go.kr/DRF/lawService.do?OC=simjh7601&amp;target=ordin&amp;MST=1772099&amp;type=HTML&amp;mobileYn="
                                                class="title" target="_blank">전라남도 도시계획 조례</a></td>
                                        <td>2022-12-29</td>
                                    </tr>
                                    <tr>
                                        <td><label class="label g-color2">조례</label></td>
                                        <td><a href="https://www.law.go.kr/DRF/lawService.do?OC=simjh7601&amp;target=ordin&amp;MST=1858927&amp;type=HTML&amp;mobileYn="
                                                class="title" target="_blank">전라남도 사무위임 조례</a></td>
                                        <td>2023-09-27</td>
                                    </tr>
                                    <tr>
                                        <td><label class="label g-color1">규칙</label></td>
                                        <td><a href="https://www.law.go.kr/DRF/lawService.do?OC=simjh7601&amp;target=ordin&amp;MST=1860717&amp;type=HTML&amp;mobileYn="
                                                class="title" target="_blank">강진군 군계획 조례</a></td>
                                        <td>2023-10-05</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!--  조례정보 -->

                    <div class="content mr-t-35 mr-b-180" >
                        <div class="availability">
                            <div class="top">
                                <div>
                                    <img src="../public/imgs/step0/icon.png" alt="">
                                </div>
                                <div>
                                    <div>
                                        <span>분석결과</span>
                                        <span>제한적 가능</span>
                                    </div>    
                                    <div style="margin: auto 0; font-size: var(--fontSize-18); font-weight: 500;">※ 설치 가능성과 수익률은 별개입니다.</div>
                                </div>
                            </div>

                            <div class="info">
                                <div class="state-area">
                                    <div class="area">
                                        <div class="title">
                                            <span>토지유형</span>
                                            <span>지붕형</span>
                                                    
                                        </div>
                                        <div class="state" style="background-color: #4c68c3;">
                                            가능
                                        </div>
                                    </div>

                                    <div class="area">
                                        <div class="title">
                                            <span>제한지역</span>
                                            <span>확인필요</span>
                                        </div>
                                        <div class="state" style="background-color: #EBBD2b;">
                                            제한적 가능
                                        </div>
                                    </div>

                                    <div class="area">
                                        <div class="title">
                                            <span>선로용량 확인</span>
                                            <span>확인필요</span>
                                            <a
                                                href="http://home.kepco.co.kr/kepco/CO/H/E/COHEPP001/COHEPP00106.do?menuCd=FN040615"
                                                target="_new">
                                                <b>한전에 확인 필요</b>
                                            </a>
                                        </div>
                                        <div class="state" style="background-color: #EBBD2b;">
                                            오류
                                        </div>
                                    </div>

                                </div>
                                <div class="gf-btn last-btn">
                                    <a href="../views/juso.html">
                                        <button type="button" class="btn prev" style="color: #767676; background-color: #DDDDDD;">이전</button>
                                    </a>
                                    <a href="../views/step1.html">
                                        <button type="button" class="btn next  mr-l-5" style="background-color: var(--bg-green-color);">다음</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div> <!-- container -->
            </section>
        </main>
        <div class="footer" id="footer">
            <div class="foo-companyInfo">
                <p class="title">그린훼스코 주식회사</p>
                <p class="tel">
                    <span>Tel. 062-973-0086</span>
                    <span>Fax. 062-443-2161</span>
                    <span>Email. greenfesco@greenfesco.com</span>
                </p>
                <p>Add. 광주광역시 북구 첨단과기로 208번길 50, 302호(연구소)</p>
                <p>Add. 광주광역시 광산구 빛그린18로 15(공장)</p>
                <p>Add. 전라남도 나주시 노안면 노안로 455-41(전남지사)</p>
            </div>
            <div class="foo-companyBottom">
                <p>Copyright © 2023 그린훼스코 주 All rights reserved</p>
            </div>
        </div>
        
        
    </div> <!-- wrap-->


</body>
</html>