<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Greenfesco admin">
<meta name="author" content="Greenfesco">
<meta name="keywords" content="">
<link rel="shortcut icon" href="/imgs/common/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/imgs/common/favicon.ico" type="image/x-icon" />

<title>Greenfesco</title>
<link href="/admin/dist/css/app.css" rel="stylesheet">
<link href="/admin/dist/css/custom.css" rel="stylesheet">
<link href="/plugin/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet">
<link href="/plugin/bootstrap-treeview-master/src/css/bootstrap-treeview.css" rel="stylesheet">
<link href="/plugin/pace-master/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
<!-- <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->

<!-- ... 상단 로딩바.. -->
<script src="/plugin/pace-master/pace.min.js"></script>
<script src="/admin/dist/js/app.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/plugin/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script> 
<script src="/plugin/bootstrap-treeview-master/src/js/bootstrap-treeview.js"></script> 
<script src="/plugin/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ko.min.js" charset="UTF-8"></script> 


